{{ header }} {{ column_left }} 
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-featured" data-toggle="tooltip" title="{{ button_save }} " class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }} " data-toggle="tooltip" title="{{ button_cancel }} " class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }} </h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
        <li><a href="{{ breadcrumb.href }} ">{{ breadcrumb.text }} </a></li>
        {% endfor %} 
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }} </h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }} " method="post" enctype="multipart/form-data" id="form-featured" class="form-horizontal">
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-ftp-host">{{ entry_localfilesystem_alias }} </label>
                <div class="col-sm-10">
                  <input type="text" name="alias" value="{{ alias ? alias }}" placeholder="{{ entry_localfilesystem_alias }} " id="input-ftp-host" class="form-control" />
                  {% if error_localfilesystem_alias %} 
                  <div class="text-danger">{{ error_localfilesystem_alias }} </div>
                  {% endif %} 
                  {% if error_alias_exist %} 
                  <div class="text-danger">{{ error_alias_exist }} </div>
                  {% endif %}                   
                  
                </div>
              </div>

              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-localfilesystem-path"><span data-toggle="tooltip" data-html="true" title="{{ help_localfilesystem_path|escape }} ">{{ entry_localfilesystem_path }} </span></label>
                <div class="col-sm-10">
                  <input type="text" name="path" value="{{ path?path }} " placeholder="{{ entry_localfilesystem_path }} " id="input-localfilesystem-path" class="form-control" />
                  {% if error_localfilesystem_path %} 
                  <div class="text-danger">{{ error_localfilesystem_path }} </div>
                  {% endif %}                   
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-localfilesystem-URL"><span data-toggle="tooltip" data-html="true" title="{{ help_localfilesystem_URL|escape }} ">{{ entry_localfilesystem_URL }} </span></label>
                <div class="col-sm-10">
                  <input type="text" name="url" value="{{ url?url }}" placeholder="{{ entry_localfilesystem_URL}} " id="input-localfilesystem-URL" class="form-control" />
                </div>
              </div>              
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_localfilesystem_status }} </label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    <input type="radio" name="status" value="1" {{ status ?"checked" }} />
                    {{ text_yes }} 
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="status" value="0" {{ not status ?"checked" }}  />
                    {{ text_no }} 
                  </label>
                </div>
              </div>    
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }} 