{{ header }}
<div class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
            <h1 class="text-center"><span class="custom-bg-img">FREQUENTLY ASKED QUESTIONS<span></h1>

            {% if faqs %}
            <div id="accordion" class="section-padding" >
            {% for faq in faqs %}
               <div style="padding: 25px 0;">
                        <h4 class="panel-title">
                            <p  class="">{{ faq.question }} </p>
                        </h4>
                
                    
                      
                            <div class="input-group">
                                {{ faq.answer }}
                            </div>
                      </div>
                    
            {% endfor %}
            </div>
            {% endif %}
            {{ content_bottom }}
        </div>
        {{ column_right }}
    </div>
</div>
<script type="text/javascript"><!--
$(document).ready(function() {
    $('#accordion a.accordion-toggle:first-child').trigger('click');
});
//--></script>
{{ footer }}