
<div class="section-padding">
  <div class="cusotom-container">
    <div class="row text-center">
      <div class="section-title">
        <h2><span class="custom-bg-img">{{ title }}</span></h2>
       
      </div>
        
    <p>{{ description }}</p>
    <div class="custom-height"> </div>
      <!-- END SECTION TITLE -->
      <div class="col-md-12 col-sm-6">
         <div class="regular2 slider">
      {% for banner in banners %}
       <div>
        <div class="custom-two-img custom-padding4"> <img  src="{{ banner.image }}" alt="{{ banner.title }}">
          <h3>{{ banner.title }}</h3>
          <a {% if banner.link %} href="{{ banner.link }}" {% else %} href="#" {% endif %} class="custom-btn">read more</a> </div>
          </div>
          {% endfor %}
       <div>
      
     
    </div>

    </div>
    <!-- END ROW --> 
  </div>
</div>
<!--end-->
--></script>
