

<div  class="section-padding">
{% if module_footware_status %}
  <div class="cusotom-container">
    <div class="row text-center">
      <div class="section-title">
        <h2><span class="custom-bg-img">{{ module_footware_title }}</span></h2>
      </div>
      <!-- END SECTION TITLE -->
      <p>{{ module_footware_description }}</p>
      <div class="custom-height"> </div>
<div class="col-md-1 col-sm-6"> </div>
<div class="col-md-10 col-sm-6">
  <p class="text-center"> <img class="img-responsive" src="{{ module_footware_image }}" alt="{{ module_footware_title }}" style="display: initial;"></p>
</div>
<div class="col-md-1 col-sm-6"> </div>
<div class="custom-height" style="height: 35px;"> </div><p class="custom-black-btn"> <a class="btn-style-2" href="{{ module_footware_link }}">get inspired</a></p>
    </div>
    <!-- END ROW --> 
  </div>
  {% else %}
<h3>There is nothing to show</h3>
  {% endif %}
</div>
<!--end-->
