
<div class="section-padding" style="padding-top: 0;">
{% if module_homepage_connecting_status %}
  <div class="cusotom-container">
    <div class="row text-center">
      
      <!-- END SECTION TITLE -->
      <div class="col-md-5 col-sm-6">
        <div class="custom-two-img"> <img src="{{ module_homepage_connecting_image }}">
      </div>
      </div>
      <div class="col-md-7 col-sm-6 custom-padding-beaut4">
        <div class="section-title">
        <h2><span class="custom-bg-img">{{  module_homepage_connecting_title }}</span></h2>
      </div>
      <p>{{ module_homepage_connecting_description }}</p>
      <div class="custom-height" style="height: 35px;"> </div>
      <p class="custom-black-btn" > <a class="btn-style-2" href="{{ module_homepage_connecting_link }}">shop trending caftans</a></p>
      </div>
    </div>
    <!-- END ROW --> 
  </div>
  {% else %}
<h3>There is nothing to show</h3>
  {% endif %}
</div>
