{{ header }}
<div id="product-product" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}

<link rel='stylesheet' href='catalog/view/theme/barnoz/stylesheet/intlTelInput.css'>
    <div id="content" class="{{ class }}">{{ content_top }}
      <div class="row"> {% if column_left or column_right %}
        {% set class = 'col-sm-6' %}
        {% else %}
        {% set class = 'col-sm-12' %}
        {% endif %}
        <div class="{{ class }}">

 {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

        <div class="section-padding">
  <div class="cusotom-container">
    <div class="row text-center">
      <div class="section-title">
        <h2><span class="custom-bg-img">match me with a designer</span>
        </h2>
      </div>
      <!-- END SECTION TITLE -->
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae<br>
        ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut <br>
        fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem<br>
        modi tempora incidunt ut labore.</p>
    </div>
    <!-- END ROW --> 
  </div>
</div>
<!--end-->
<div  class="pages checkout-page section-padding" style="padding-top: 0;">
  <div class="cusotom-container "  >
 <form action="{{ action }}" method="post" id="match_me_with_designer"  enctype="multipart/form-data" >
      <div class="row">
        <div class="col-md-3 col-sm-6"> </div>
        <div class="col-md-6 col-sm-6 custom-form">
      
            <div class="checkout-form">
              <div class="form-group col-sm-12">
              <label>Full Name</label>
                <input type="text" name="designer_name" required="" placeholder="Full Name" class="form-control">
              </div>
              <div class="form-group col-sm-12">
              <label>Phone Number</label>
<input type="tel" name="telephone" id="telephone" required="" placeholder="Phone Number" class="form-control numeric">
<span id="spnError" style="color: Red; display: none">*Valid characters: Numbers </span>
                 </div>
              <div class="form-group col-sm-6">
              <label>Email Address</label>
                <input type="email" name="email" required="" placeholder="Email Address" class="form-control">
              </div>
                   <div class="form-group col-sm-12">
              <label>Address</label>
                <input type="text" name="address" required="" placeholder="address" class="form-control">
              </div>
              <div class="form-group col-sm-12">
              <label>Design / Style Preference</label>
              <p>Kindly attach a sample picture of your preferred style</p>
         <a href="#" class="custompop" data-toggle="modal" data-target="#exampleModal">  <img src="catalog/view/javascript/assets/img/icon.png" ></a>
              </div>
              <div>
              
                   <div class="form-group col-sm-12">
              <label>Add Notes</label>
                <input type="text" name="notes" required="" placeholder="Add Notes" class="form-control">
              </div>
              <div class="form-group col-sm-12">
              <label>Fabric</label>
                <select name="fabric" class="form-control" id="sel2">
                  <option>Please select</option>
                  <option value="silk">Silk</option>
                  <option value="Walvet">Walvet</option>
                  <option value="lan">Laan</option>
                  <option value="rashami">Rashmi</option>
                </select>
              </div>
              <div class="form-group col-sm-12">
              <label>Sample Clothing</label>
                <select name="sample_clothing" class="form-control" id="sel2">
                  <option>Please select *</option>
                  <option value="1">Yes, i will send a sample</option>
                  <option value="0">No, i will not send sample</option>

                 
                </select>
                <p>Any sample received will be returned with the order delivery</p>
              </div>
              </div>
      
            </div>
         
        </div>
        <div class="col-md-3 col-sm-6"> </div>
      </div>
    
    <!-- END ROW --> 
  </div>
</div>
<!--end--> 
<div  class="pages checkout-page section-padding" style="padding-top: 0;">
  <div class="cusotom-container "  >
 
      <div class="row">
      <div class=" col-sm-6">
               <img src="catalog/view/javascript/assets/img/1-o.jpg" class="cusom-image-product" >
              </div>
              
              <div class=" col-sm-6">
<div class="custom-input-image"><img src="catalog/view/javascript/assets/img/2-o.png"> <select style="float:right" name="unit_neckline"><option value="cm">Centemeter</option><option value="inch">inch</option></select>                 
  <input  type="number"  step="0.01" name="neckline_measurement" required="" placeholder="Neckline Measurement" class="form-control">
</div>
<div class="custom-input-image"><img src="catalog/view/javascript/assets/img/3-o.png">  <select style="float:right" name="unit_bust"><option value="cm">Centemeter</option><option value="inch">inch</option></select>                
  <input  type="number"  step="0.01" name="bust_line" required="" placeholder="Bust Line" class="form-control">
</div>
<div class="custom-input-image"><img src="catalog/view/javascript/assets/img/4-o.png">  <select style="float:right" name="unit_waist"><option value="cm">Centemeter</option><option value="inch">inch</option></select>               
 <input  type="number"  step="0.01" name="waist_line" required="" placeholder="Waist Line" class="form-control">
</div><div class="custom-input-image"><img src="catalog/view/javascript/assets/img/5-o.png">   <select style="float:right" name="unit_hip"><option value="cm">Centemeter</option><option value="inch">inch</option></select>        
       <input  type="number"  step="0.01" name="hip_line" required="" placeholder="Hip Line" class="form-control">
</div>
<div class="custom-input-image"><img src="catalog/view/javascript/assets/img/6-o.png">  <select style="float:right" name="unit_sleeve"><option value="cm">Centemeter</option><option value="inch">inch</option></select>              
  <input  type="number"  step="0.01" name="sleeve_length" required="" placeholder="Sleeve Length" class="form-control">
</div>
<div class="custom-input-image"><img src="catalog/view/javascript/assets/img/7-o.png">  <select style="float:right" name="unit_cuff"><option value="cm">Centemeter</option><option value="inch">inch</option></select>              
  <input  type="number"  step="0.01" name="cuff_size" required="" placeholder="Cuff Size" class="form-control">
</div><div class="custom-input-image"><img src="catalog/view/javascript/assets/img/8-o.png">   <select style="float:right" name="unit_shoulder"><option value="cm">Centemeter</option><option value="inch">inch</option></select>          
     <input  type="number"  step="0.01" name="shoulder_line" required="" placeholder="Shoulder Line" class="form-control">
</div><div class="custom-input-image"><img src="catalog/view/javascript/assets/img/9-o.png">   <select style="float:right" name="unit_armhole"><option value="cm">Centemeter</option><option value="inch">inch</option></select>           
    <input  type="number"  step="0.01" name="arm_hole" required="" placeholder="Arm Hole" class="form-control">
</div><div class="custom-input-image"><img src="catalog/view/javascript/assets/img/10-o.png">    <select style="float:right" name="unit_bottom"><option value="cm">Centemeter</option><option value="inch">inch</option></select>          
    <input  type="number"  step="0.01" name="bottom_width" required="" placeholder="Bottom Width" class="form-control">
</div><div class="custom-input-image"><img src="catalog/view/javascript/assets/img/11-o.png">  <select style="float:right" name="unit_armcircum"><option value="cm">Centemeter</option><option value="inch">inch</option></select>             
   <input  type="number"  step="0.01" name="arm_circumference" required="" placeholder="Arm Circumference" class="form-control">
</div><div class="custom-input-image"><img src="catalog/view/javascript/assets/img/12-o.png">  <select style="float:right" name="unit_caftan"><option value="cm">Centemeter</option><option value="inch">inch</option></select>             
   <input  type="number"  step="0.01"name="caftan_length" required="" placeholder="Caftan Length" class="form-control">
</div><div class="custom-input-image"><img src="catalog/view/javascript/assets/img/13-o.png"> <select style="float:right" name="unit_neckdeep"><option value="cm">Centemeter</option><option value="inch">inch</option></select>               
  <input  type="number"  step="0.01" name="neck_deep" required="" placeholder="Neck Deep" class="form-control">
</div>
              </div>
                      <div class=" col-sm-12   text-center">
                <input type="submit" class="btn order-btn" value="Submit" name="sub">             </div>
      </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload Files</h5>
  
      <div class="modal-body">
        <p>Please Attach Your Files Using The Browse Button</p>
        <div class="upload-btn-wrapper">
  <button class="custombtn">browse</button>
    <input type="file" name="myfile" />
      </div>
      
    </div>
  </div>
</div> 
</div>
</div>
    </form>
    <!-- END ROW --> 
  </div>
</div>
<!--end--> 
</div>
</div>
</div>
<!-- Modal -->
<style>


.intl-tel-input {
  /*display: table-cell;*/
}

.intl-tel-input .selected-flag {
  z-index: 4;
}

.intl-tel-input .country-list {
  z-index: 5;
}

.input-group .intl-tel-input .form-control {
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
}
.ui-sortable-helper {
    width: 90px !important;
    height: 90px !important;
}

.selected-flag{
  border-right: 1px solid#ccc;
}
</style>
<script>
  setInterval(function(){ 



$('.country-list .country').each(function(i){
  if($('#telephone').val()==""&&$('.highlight').attr('data-dial-code')!=undefined){
    $('#telephone').val("+"+$('.highlight').attr('data-dial-code'));
  }

});


}, 500);
   var testPattern = new RegExp("^(\\+)?(\\d+)$");

$('#telephone').on('keyup', function(){
    if($(this).val().length == 1)$(this).val('+');
    else{ 
        var res = chkInput();
        if(!res)$(this).val($(this).val().slice(0, -1));
    }
});
function chkInput(){
    var v = $('#telephone').val().charAt($('#telephone').val().length-1);
    return testPattern.test(v);
}


</script>
<script src='catalog/view/theme/barnoz/stylesheet/intlTelInput.js'></script>
<script id="rendered-js">
      $("#telephone").intlTelInput({
  utilsScript: "catalog/view/theme/barnoz/stylesheet/utils.js" });
      //# sourceURL=pen.js
    </script>
{{ footer }}