{{ header }}
<div id="account-address" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
    <div class="section-padding">
  <div class="cusotom-container">
    <div class="row ">
      
      <!-- END SECTION TITLE -->
      <div class="col-md-4 col-sm-6 text-center">
        <div class="custom-two-img-logo"> <img src="{{ brand_logo }}">
        <div class="custom-about-social">
                <ul>
                  <li><a target="_blank" href="{{ collection_row.fb_link }}"><i class="icofont icofont-social-facebook"></i></a>
                  </li>
                  <li><a target="_blank" href="{{ collection_row.tw_link }}"><i class="icofont icofont-social-twitter"></i></a>
                  </li>
                  <li><a target="_blank" href="{{ collection_row.insta_link }}"><i class="icofont icofont-social-instagram"></i></a>
                  </li>
                </ul>
              </div>
      </div>
      </div>
      <div class="col-md-4 col-sm-6">
      </div>
      <div class="col-md-4 col-sm-6">
        
<div class="custom-contact">
<h4>Contact Me</h4>
<!-- <strong>Website</strong>
<p>www.highmarrakeshfashion.com</p> -->
<strong>Email Address</strong>
<p>{{ email }}</p>
<strong>Contact Number</strong>
<p>{{ phone }}</p>
<p class="custom-black-btn"> <a class="btn-style-2" href="index.php?route=product/manufacturer/info&manufacturer_id={{ manufacturer_id }}">Shop my designs</a></p>
</div>
      </div>
    </div>
    <!-- END ROW --> 
  </div>
</div>
<!--end-->
<div class="section-padding">
  <div class="cusotom-container">
    <div class="row text-center">
      
      <!-- END SECTION TITLE -->
      <div class="col-md-5 col-sm-6">
        <div class="custom-two-img"> <img src="image/{{ collection_row.profile_image }}">
      </div>
      </div>
      <div class="col-md-7 col-sm-6 custom-padding-beaut">
        <div class="section-title">
        <h2><span class="custom-bg-img">About the designer</span></h2>
      </div>
      <p>{{ collection_row.about_text }}</p>
      </div>
    </div>
    <!-- END ROW --> 
  </div>
</div>
<!--end-->
<div  class="section-padding">
  <div class="cusotom-container">
    <div class="row text-center">
      <div class="section-title">
        <h2><span class="custom-bg-img">designer work</span></h2>
      </div>
      <!-- END SECTION TITLE -->
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, <br>
        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam<br>
        voluptatem quia voluptas sit aspernatur aut odit aut modi tempora incidunt ut labore..</p>
      <div class="custom-height"> </div>
      {% for work in designer_works %}
      <div class="col-md-4 col-sm-6 custom-four-img custom-four-img-4"> 
      <img src="image/catalog/{{ work.image }}"></div>
      {% endfor %}
      
      <!-- <div class="col-md-4 col-sm-6 custom-four-img custom-four-img-4"> 
      <img src="catalog/view/javascript/assets/img/designer-work-2.jpg"></div>
      
      <div class="col-md-4 col-sm-6 custom-four-img custom-four-img-4"> 
      <img src="catalog/view/javascript/assets/img/designer-work-3.jpg"></div>
      
      <div class="col-md-4 col-sm-6 custom-four-img  custom-four-img-5"> 
      <img src="catalog/view/javascript/assets/img/designer-work-4.jpg"></div>
       <div class="col-md-4 col-sm-6 custom-four-img custom-four-img-5"> 
      <img src="catalog/view/javascript/assets/img/designer-work-5.jpg"></div>
       <div class="col-md-4 col-sm-6 custom-four-img custom-four-img-5 custom-margin-bottom-zero"> 
      <img src="catalog/view/javascript/assets/img/designer-work-6.jpg"></div> -->
    </div>
    <!-- END ROW --> 
  </div>
</div>
<!--end-->
<div  class="section-padding">
  <div class="cusotom-container">
    <div class="row text-center">
      <div class="section-title">
        <h2><span class="custom-bg-img">past collections</span></h2>
      </div>
      <!-- END SECTION TITLE -->
      <div class="row text-center">
        {% for collect in collection %}
        <div class="col-md-6 col-sm-6">
          <div class="single-banner">
            <figure class="banner-effect"> <img class="img-responsive" src="image/{{ collect.image }}" alt="{{ collect.name }}">
              <figcaption>
                <div class="custom-pos">
                  <p>{{ collect.overview }}</p>
                  <p class="custom-black-btn"> <a class="btn-style-2" href="index.php?route=designer/designer/info&designer_collection_id={{ collect.designer_collection_id }}">view collection</a></p>
                </div>
              </figcaption>
            </figure>
            <div class="custom-two-img">
              <h3>{{ collect.name }}</h3>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- END ROW --> 
  </div>
</div>
<!--end-->
<div  class="section-padding">
  <div class="cusotom-container">
    <div class="row text-center">
      <div class="section-title">
        <h2><span class="custom-bg-img">shop our designs</span></h2>
      </div>
      <!-- END SECTION TITLE -->
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperi-<br>
        am, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.</p>
      <div class="custom-height" style="height: 50px;"> </div>
      <div class="cutom-btn"> <a class="btn-style-2 custom-btn-style-2" onclick="getProducts('footwear');" href="javascript:void(0);">footwear</a> <a class="btn-style-2 custom-btn-style-3"  onclick="getProducts('caftan');" href="javascript:void(0);">caftan</a></div>
      <div class="custom-height"> </div>
      <div class="row text-center">
        <div class="col-md-12 col-sm-6">
          <div {% for product in manufacturer_products %} {% if product.location== 'footwear' %} id="slider_{{ product.location }}"  {% endif %} {% endfor %} class="regular1 slider">
{% for product in manufacturer_products %}
{% if product.location== 'footwear'  %}
            <div  class="{{ product.location }}">
              <div class="custom-slider-product">
                <div class="custom-two-img"> <img src="{{ product.thumb }}" alt="{{ product.name }}">
                  <h3>{{ product.name }}</h3>
                  <a href="{{ product.href }}" class="custom-btn">read more</a> </div>
              </div>
            </div>
            {% endif %}
           {% endfor %}
          </div>

          <div {% for product in manufacturer_products %} {% if product.location== 'caftan' %} id="slider_{{ product.location }}"  {% endif %} {% endfor %} class="regular2 slider" style="display: none;">
{% for product in manufacturer_products %}
{% if product.location== 'caftan'  %}
            <div  class="{{ product.location }}">
              <div class="custom-slider-product">
                <div class="custom-two-img"> <img src="{{ product.thumb }}" alt="{{ product.name }}">
                  <h3>{{ product.name }}</h3>
                  <a href="{{ product.href }}" class="custom-btn">read more</a> </div>
              </div>
            </div>
             {% endif %}
           {% endfor %}
          </div>

        </div>
        <div class="custom-height"> </div>
        <p class="custom-black-btn"> <a class="btn-style-2" href="index.php?route=product/search&search=&category_id=61">View all footwear</a></p>
      </div>
    </div>
    <!-- END ROW --> 
  </div>
</div>
<!--end--> 


      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script>
  function getProducts(product)
  {
    if(product=='caftan'){
      $("#slider_caftan").show();
      $("#slider_footwear").hide();
      $(".btn-style-2").removeClass("custom-btn-style-2");
      $(".btn-style-2").addClass("custom-btn-style-3");
    }else{
      $("#slider_caftan").hide();
      $("#slider_footwear").show();
      $(".btn-style-2").addClass("custom-btn-style-2");
      $(".btn-style-2").removeClass("custom-btn-style-3");
    }
    
  }
$(document).on('ready', function() {
      $(".regular1").slick({
        dots: false,
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 1,
                arrows: true,
                  autoplay: true,
                    autoplaySpeed: 2000,
                    responsive: [
      {
        breakpoint: 500,
        settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        }
      }
    ]        
      });
      $(".regular2").slick({
        dots: false,
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 1,
                arrows: true,
                  autoplay: true,
                    autoplaySpeed: 2000,
                    responsive: [
      {
        breakpoint: 500,
        settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        }
      }
    ]        
      });
      });
</script>
{{ footer }}