{{ header }}
<div id="account-address" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
<link rel='stylesheet' href='catalog/view/theme/barnoz/stylesheet/intlTelInput.css'>
    <div id="content" class="{{ class }}">{{ content_top }}
    
      <!--end-->
<div class="section-padding">
  <div class="cusotom-container">
    <div class="row text-center">
      <div class="section-title">
        <h2><span class="custom-bg-img">Request Membership </span>
          <div style="font-size: 10px;">Promote Your Fashion Design by Joining a Growing Community</div>
        </h2>
      </div>
      <!-- END SECTION TITLE -->
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae<br>
        ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut <br>
        fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem<br>
        modi tempora incidunt ut labore.</p>
    </div>
    <!-- END ROW --> 
  </div>
</div>
<!--end-->
<div  class="pages checkout-page section-padding" style="padding-top: 0;">
  <div class="cusotom-container "  >
 
      <div class="row">
        <form method="post" enctype="multipart/form-data" action="{{ action }}">
              <div class="checkout-form">
        <div class="col-md-6 col-sm-6 custom-form">
          
        
              <div class="form-group col-sm-12">
              <label>Designer Name <span class="required">*</span></label>
                <input type="text" name="designer_name" required="" placeholder="Designer Name" class="form-control">
              </div>
              <div class="form-group col-sm-12 required">
              <label>Brand Name <span class="required">*</span></label>
                <input type="text" name="brand_name" onkeyup="getBrandName(this.value);" required="" placeholder="Brand Name" class="form-control">
                <div id="brand_result"></div>
              </div>
              <div class="form-group col-sm-6">
              <label>Email Address <span class="required">*</span></label>
                <input type="email" id="designer_email" onblur="checkDesignerEmail(this.value);" name="email" required="" placeholder="GharDoubiaani.Design@gmail.com" class="form-control">
              </div>
              <div class="form-group col-sm-6">
              <label>Address <span class="required">*</span></label>
              <textarea name="address" rows="4" class="form-control" placeholder="address"></textarea>
              </div>
              
            
              <div class="form-group col-sm-12">
              <label>Upload Brand Logo</label>
           <a href="#" class="custompop" data-toggle="modal" data-target="#brandModal"><img src="catalog/view/javascript/assets/img/icon.png" ></a>
              </div>
              <div class="preview-images-zone-brand">
    </div>
             
             
            </div>

            <div class="col-sm-6 col-md-6  custom-form">
                <div class="form-group col-sm-12">
              <label>Country <span class="required">*</span></label>
 
                <select required="" name="country" class="form-control" onchange="SelectZone(this.value);">
                  <option value="">Please Select Country *</option>
                 {% for country in countries %}
                  <option value="{{ country.country_id }}">{{ country.name }}</option>
                 {% endfor %}
                </select>
              </div>
              <div class="form-group col-sm-12">
              <label>State/City <span class="required">*</span></label>
                <select required="" id="zone" name="zone_id" class="form-control">
                  
                 
                </select>
              </div>
              <div class="form-group col-sm-12">
              <label>Phone Number / Whatsapp <span class="required">*</span></label>
                         
                <input type="tel" name="phone" id="telephone" required="" placeholder="Phone Number / Whatsapp" class="form-control numeric">
<span id="spnError" style="color: Red; display: none">*Valid characters: Numbers </span>
                 </div>
                                
              <div class="form-group col-sm-12">
              <label>Years Active</label>
                <input type="number" name="years_active" value="" min="4" placeholder="number of years for which you are active" class="form-control " id="sel2">
                  
              </div>
              <div class="form-group col-sm-12">
              <label>Incentive to Join</label>
              <textarea rows="4" name="incentive" class="form-control" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."></textarea>
              </div>


               <div class="form-group col-sm-12">
              <label>Design Pictures</label>
              <p>Please ad your design pictures from the past so we can look at your designs and fashion sense.</p>
         <a href="#" class="custompop" data-toggle="modal" data-target="#exampleModal">  <img src="catalog/view/javascript/assets/img/icon.png" ></a>
              </div>
              <div>

              
    <div class="preview-images-zone">
    </div>
              
              </div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload Files</h5>
  
      <div class="modal-body">
        <p>Please Attach Your Files Using The Browse Button</p>
        <div class="upload-btn-wrapper">
  
     <a href="javascript:void(0)" class="btn news-btn" onclick="$('#pro-image-brand').click()">Upload Image</a>
        <input type="file"  id="pro-image-brand" name="pro-image-brand[]" style="display: none;" class="form-control" multiple>
      </div>
      
    </div>
  </div>
</div> 
</div>
</div>
<div class="modal fade" id="brandModal" tabindex="-1" role="dialog" aria-labelledby="brandModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload Brand Logo</h5>
  
      <div class="modal-body">
        <p>Please Attach Your Files Using The Browse Button</p>
        <div class="upload-btn-wrapper">
  
     <a href="javascript:void(0)" class="btn news-btn" onclick="$('#pro-image').click()">Upload Image</a>
        <input type="file"  id="pro-image" name="pro-image"  style="display: none;" class="form-control">
      </div>
      
    </div>
  </div>
</div> 
</div>
</div>
 <div class="col-md-12 form-group">
                <button id="sub_button" type="submit" class="btn order-btn">Submit</button>
              </div>


            </div>
        
        </div>
       </form>
      </div>

    
    <!-- END ROW --> 
  </div>
</div>


<script>

  $("#sel2").on("keypress",function(event){
                if(event.which <= 48 || event.which >=57){
                    return false;
                }
            });

setInterval(function(){ 
if($("#brand_exist").val()!=1){
  $("#sub_button").attr("disabled",true);
} else{
  $("#sub_button").attr("disabled",false);
  
}


$('.country-list .country').each(function(i){
  if($('#telephone').val()==""&&$('.highlight').attr('data-dial-code')!=undefined){
    $('#telephone').val("+"+$('.highlight').attr('data-dial-code'));
  }

});

if($("#designer_email").val()==""){
   $("#sub_button").attr("disabled",true);
 }else{
  $("#sub_button").attr("disabled",false);
 }

 if($("select[name=country]").val()==""){
  $("#sub_button").attr("disabled",true);
 }else{
  $("#sub_button").attr("disabled",false);
 }

 if($("textarea[name=address]").val()==""){
  $("#sub_button").attr("disabled",true);
 }else{
  $("#sub_button").attr("disabled",false);
 }

  if($("#telephone").val()==""){
  $("#sub_button").attr("disabled",true);
 }else{
  $("#sub_button").attr("disabled",false);
 }



}, 500);


 
    var testPattern = new RegExp("^(\\+)?(\\d+)$");

$('#telephone').on('keyup', function(){
    if($(this).val().length == 1)$(this).val('+');
    else{ 
        var res = chkInput();
        if(!res)$(this).val($(this).val().slice(0, -1));
    }
});
function chkInput(){
    var v = $('#telephone').val().charAt($('#telephone').val().length-1);
    return testPattern.test(v);
}

function getBrandName(name){
if(name!=""){
$.ajax({
  type:"GET",
  url:"index.php?route=designer/designer_request/checkBrandName&brand_name="+name,
  cache:false,
  success:function(data){
    $("#brand_result").html("<span>"+data+"</span>");
  }
});
}else{
 $("#brand_result").html("");
}
  
}
function checkDesignerEmail(email){
  if($("#designer_email").val()!=""){
$.ajax({
  type:"GET",
  url:"index.php?route=designer/designer_request/checkDesignerEmail&email="+email,
  cache:false,
  success:function(data){
  if(data==1){
    $("#designer_email").css('border-color','red');
    $("#designer_email").val("");
    $("#designer_email").after("<span style='color:red;' id='email_exist'>Email:"+email+" already exists. Singin to access your account Or choose another one please.</span>");
  }else{
    $("#designer_email").css('border-color','green');
    $("#email_exist").remove();
  }
  }
});
}
}
function SelectZone(country_id){
var html="";
$.ajax({
  type:"GET",
  url:"index.php?route=designer/designer_request/country&country_id="+country_id,
  dataType:"json",
  cache:false,
  success:function(data){
  //console.log(data);
  $(data.zone).each(function(i){
    html += "<option value='"+data.zone[i].zone_id+"'>"+data.zone[i].name+"</option>";
  });
    $("#zone").html(html);
  }
});
  
}
$(document).ready(function() {
    document.getElementById('pro-image').addEventListener('change', readImage, false);
    
    $( ".preview-images-zone" ).sortable();

    document.getElementById('pro-image-brand').addEventListener('change', readImageBrand, false);
    
    $( ".preview-images-zone-brand" ).sortable();
    
    $(document).on('click', '.image-cancel', function() {
      if(confirm("Are you sure?")){
         let no = $(this).data('no');
        $(".preview-image.preview-show-"+no).remove();
      }else{
        return false;
      }
       
    });

         /*$('.numeric').on('input', function (event) { 
    this.value = this.value.replace(/[^0-9-!@#$%&*?]/g, '');
      }
});*/
});



var num = 4;
function readImage() {
    if (window.File && window.FileList && window.FileReader) {
        var files = event.target.files; //FileList object
        var output = $(".preview-images-zone-brand");

        for (let i = 0; i < files.length; i++) {
            var file = files[i];
            if (!file.type.match('image')){
              alert("You are trying to upload "+file.type+". Only Image Files can be upload!");
              return false;
            }
            
            if (!file.type.match('image')) continue;
            
            var picReader = new FileReader();
            
            picReader.addEventListener('load', function (event) {
                var picFile = event.target;
                var html =  '<div class="preview-image preview-show-' + num + '">' +
                            '<div class="image-cancel" data-no="' + num + '">x</div>' +
                            '<div class="image-zone"><img width="180" height="180" id="pro-img-' + num + '" src="' + picFile.result + '"></div>' +
                            
                            '</div>';

                output.append(html);
                num = num + 1;
            });

            picReader.readAsDataURL(file);


        }
       // $("#pro-image").val('');
        $("#brandModal").modal('toggle');
    } else {
        console.log('Browser not support');
    }
}

var num = 4;
function readImageBrand() {
    if (window.File && window.FileList && window.FileReader) {
        var files = event.target.files; //FileList object
        var output = $(".preview-images-zone");

        for (let i = 0; i < files.length; i++) {
            var file = files[i];
          
             if (!file.type.match('image')){
              alert("You are trying to upload "+file.type+". Only Image Files can be upload!");
              return false;
            }

            if (!file.type.match('image')) continue;
            
            var picReader = new FileReader();
            
            picReader.addEventListener('load', function (event) {
                var picFile = event.target;
                var html =  '<div class="preview-image preview-show-' + num + '">' +
                            '<div style="cursor:pointer;" class="image-cancel" data-no="' + num + '">x</div>' +
                            '<div class="image-zone"><img id="pro-img-' + num + '" src="' + picFile.result + '"></div>' +
                            '</div>';

                output.append(html);
                num = num + 1;
            });

            picReader.readAsDataURL(file);


        }
   //     $("#pro-image-brand").val('');
        $("#exampleModal").modal('toggle');
    } else {
        console.log('Browser not support');
    }
}



</script>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<style>


.intl-tel-input {
  /*display: table-cell;*/
}

.intl-tel-input .selected-flag {
  z-index: 4;
}

.intl-tel-input .country-list {
  z-index: 5;
}

.input-group .intl-tel-input .form-control {
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
}

.preview-images-zone {
    width: 100%;
   
    min-height: 0px;
    /* display: flex; */
    padding: 5px 5px 0px 5px;
    position: relative;
    overflow:auto;
}
.preview-images-zone > .preview-image:first-child {
    /*height: 185px;
    width: 185px;*/
    width: 21%;
    position: relative;
    margin-right: 5px;
}
.preview-images-zone > .preview-image {
   /* height: 90px;
    width: 90px;*/
    width: 21%;
    position: relative;
    margin-right: 5px;
    float: left;
    margin-bottom: 5px;
}
.preview-images-zone > .preview-image > .image-zone {
    width: 100%;
    height: 100%;
}
.preview-images-zone > .preview-image > .image-zone > img {
    width: 100px;
    height: 100px;
}
.preview-images-zone > .preview-image > .tools-edit-image {
    position: absolute;
    z-index: 100;
    color: #fff;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    display: none;
}
.preview-images-zone > .preview-image > .image-cancel {
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
    display: none;
    z-index: 100;
}
.preview-image:hover > .image-zone {
    cursor: move;
    opacity: .5;
}
.preview-image:hover > .tools-edit-image,
.preview-image:hover > .image-cancel {
    display: block;
}
.ui-sortable-helper {
    width: 90px !important;
    height: 90px !important;
}

.selected-flag{
  border-right: 1px solid#ccc;
}
</style>
<script src='catalog/view/theme/barnoz/stylesheet/intlTelInput.js'></script>
<script id="rendered-js">
      $("#telephone").intlTelInput({
  utilsScript: "catalog/view/theme/barnoz/stylesheet/utils.js" });
      //# sourceURL=pen.js
    </script>
{{ footer }}