{{ header }}
<div id="account-address" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
    
<!--end-->
<div  class="section-padding">
  <div class="cusotom-container">
    <div class="row text-center">
      <div class="section-title">
        <h2><span class="custom-bg-img">{{ collection_overview.name }}</span></h2>
      </div>
      <!-- END SECTION TITLE -->
      <div class="row text-center">
       {% if collection_overview is defined %}
        <div class="col-md-6 col-sm-6">
          <div class="single-banner">
            <img class="img-responsive" src="image/{{ collection_overview.image }}" alt="{{ collection_overview.name }}">
            <div class="custom-two-img">
              <h3>{{ collection_overview.name }}</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <p>{{ collection_overview.overview }}</p>
        </div>
      {% endif %}
      </div>
    </div>
    <!-- END ROW --> 
  </div>
</div>
<!--end-->

<!--end--> 


      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>

{{ footer }}