{{ header }}
<div id="account-address" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
    
<!--end-->
<div  class="section-padding">
  <div class="cusotom-container">
    <div class="row text-center">
      <div class="section-title">
        <h2><span class="custom-bg-img">Designer List</span></h2>
      </div>
      <!-- END SECTION TITLE -->
      <div class="row text-center">
        {% for designer in designer_list %}
        <div class="col-md-6 col-sm-6">
          <div class="single-banner">
            <figure class="banner-effect"> <img width="400px;" class="img-responsive" src="image/{% if designer.image=='catalog/' %}no_image.png{% else %}{{ designer.image }}{% endif %}" alt="{{ designer.brand_name }}">
              <figcaption>
                <div class="custom-pos">
                  <p>{{ designer.incentive }}</p>
                  <p class="custom-black-btn"> <a class="btn-style-2" href="index.php?route=designer/designer&designer_id={{ designer.member_id }}">View Info</a></p>
                </div>
              </figcaption>
            </figure>
            <div class="custom-two-img">
              <h3>{{ designer.brand_name }}</h3>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- END ROW --> 
  </div>
</div>
<!--end-->

<!--end--> 


      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script>
$(document).on('ready', function() {
      $(".regular").slick({
        dots: false,
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 1,
                arrows: true,
                  autoplay: true,
                    autoplaySpeed: 2000,
                    responsive: [
      {
        breakpoint: 500,
        settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        }
      }
    ]        
      });
      });
</script>
{{ footer }}