{{ header }}
<div id="account-address" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
    
      <div  class="section-padding">
  <div class="cusotom-container">
    <div class="row text-center">
      <div class="section-title">
        <h2><span class="custom-bg-img">{{ module_fashion_modest_title }}</span></h2>
      </div>
      <!-- END SECTION TITLE -->
      <p>{{ module_fashion_description }}</p>
      <div class="custom-height"> </div>
      <p class="text-center custom-image"> <img class="img-responsive" src="{{ thumb }}" alt="" style="display: initial;"></p>
      <div class="custom-height1"> </div>
      <p>{{ module_fashion_description_1 }}</p>
    </div>
    <!-- END ROW --> 
  </div>
</div>
<!--end-->
<div  class="section-padding">
  <div class="cusotom-container">
    <div class="row text-center">
      <div class="section-title">
        <h2><span class="custom-bg-img">Trending in the industry</span></h2>
      </div>
      <!-- END SECTION TITLE -->
{% for trending in trendings %}
      <div class="col-md-6 col-sm-6">
        <div class="custom-two-img"> <img src="{{ trending.image }}" alt="{{ trending.name }}">
          <h3>{{ trending.name }}</h3>
          <a  href="{{ trending.href }}" class="custom-btn">read more</a> </div>
      </div>
{% endfor %}
     
      <div class="custom-height"> </div>
    <p>{{ module_fashion_description_2 }}</p>
    </div>
    <!-- END ROW --> 
  </div>
</div>
<!--end-->
<div  class="section-padding">
  <div class="cusotom-container">
    <div class="row text-center">
      <div class="section-title">
        <h2><span class="custom-bg-img">Popular Styles with Silk</span></h2>
       
      </div>
        
    <p>{{ module_fashion_description_3 }}</p>
    <div class="custom-height"> </div>
      <!-- END SECTION TITLE -->
      {% for popular in populars %}
      <div class="col-md-4 col-sm-6">
        <div class="custom-two-img"> <img src="{{ popular.image }}" alt="{{ popular.name }}">
          <h3>{{ popular.name }}</h3>
          <a  href="{{ popular.href }}" class="custom-btn">read more</a> </div>
      </div>
      {% endfor %}
      
    </div>
    <!-- END ROW --> 
  </div>
</div>
<!--end-->
<div  class="section-padding">
  <div class="cusotom-container">
    <div class="row text-center">
      <div class="section-title">
        <h2><span class="custom-bg-img">{{ module_fashion_wedding_title }}</span></h2>
      </div>
      <!-- END SECTION TITLE -->
      <p>{{ module_fashion_wedding_description }}</p>
      <div class="custom-height"> </div>
<div class="col-md-1 col-sm-6"> </div>
<div class="col-md-10 col-sm-6">
  <p class="text-center"> <img class="img-responsive" src="{{ thumb_wed }}" alt="" style="display: initial;"></p>
</div>
<div class="col-md-1 col-sm-6"> </div>
    </div>
    <!-- END ROW --> 
  </div>
</div>
<!--end-->
<div  class="section-padding" style="padding-bottom: 0 !important;">
  <div class="cusotom-container">
    <div class="row text-center">
      {% for modest in modests %}
      {% if loop.index is divisibleby(2) %}
      <div class="col-md-3 col-sm-6">
        <div class="custom-two-img"> <img src="{{ modest.image }}" alt="{{ modest.name }}">
          <h3>{{ modest.name }}</h3>
          <a  href="{{ modest.href }}" class="custom-btn">read more</a> </div>
      </div>
      {% endif %}
      {% endfor %}
      <!-- <div class="col-md-3 col-sm-6">
        <div class="custom-two-img"> <img src="catalog/view/javascript/assets/img/title-1.jpg">
          <h3>lorem ipsum dolor</h3>
          <a  href="#" class="custom-btn">read more</a> </div>
      </div> -->
      <div class="col-md-6 col-sm-6">
        <div class="custom-two-img-tet">
          <h3>{{ module_fashion_title_2 }}</h3>
          <p>{{ module_fashion_description_4 }}</p>
        </div>
      </div>
    </div>
    <!-- END ROW --> 
  </div>
</div>
<!--end-->
<div  class="section-padding">
  <div class="cusotom-container">
    <div class="row text-center">
      <div class="col-md-6 col-sm-6">
        <div class="custom-two-img-tet custom-padding-fouty">
          <h3>title</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quiaconsequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi. Est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
        </div>
      </div>
       {% for modest in modests %}
      {% if loop.index is not divisibleby(2) %}
      <div class="col-md-3 col-sm-6">
        <div class="custom-two-img"> <img src="{{ modest.image }}" alt="{{ modest.name }}">
          <h3>{{ modest.name }}</h3>
          <a  href="{{ modest.href }}" class="custom-btn">read more</a> </div>
      </div>
      {% endif %}
      {% endfor %}
   

   <!--    <div class="col-md-3 col-sm-6">
        <div class="custom-two-img custom-margin-bottom-zero"> <img src="catalog/view/javascript/assets/img/title-3.jpg">
          <h3>lorem ipsum dolor</h3>
          <a  href="#" class="custom-btn">read more</a> </div>
      </div> -->
      <div class="custom-height"> </div>
     <p class="custom-black-btn"> <a class="btn-style-2" href="index.php?route=product/search&search=caftan">shop trending caftans</a></p>
    </div>
    <!-- END ROW --> 
  </div>
</div>

      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}