{{ header }}
<div id="account-address" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
    
      <div  class="section-padding">
  <div class="cusotom-container">
    <div class="row text-center">
      <div class="section-title">
        <h2><span class="custom-bg-img">{{ name }}</span></h2>
      </div>
      <!-- END SECTION TITLE -->
      
      <div class="custom-height"> </div>
      <p class="text-center"> <img class="img-responsive" src="image/{{ image }}" alt="" style="display: initial;">
{{ description }}
      </p>
      <div class="custom-height1"> </div>
    
    </div>
    <!-- END ROW --> 
  </div>
</div>


      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}