{{ header }}
<div id="account-address" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
    
      <div  class="section-padding">
  <div class="cusotom-container">
    <div class="row text-center">
      <div class="section-title">
        <h2><span class="custom-bg-img">{{ module_footwarepage_title }}</span></h2>
      </div>
      <!-- END SECTION TITLE -->
      {{ module_footwarepage_description }}
      <div class="custom-height"> </div>
      <div class="col-md-1 col-sm-6"> </div>
      <div class="col-md-10 col-sm-6">
        <p class="text-center"> <img class="img-responsive" src="{{ main_image }}" alt="{{ module_footwarepage_title }}" style="display: initial;"> </p>
      </div>
      <div class="col-md-1 col-sm-6"></div>
    </div>
    <!-- END ROW --> 
  </div>
</div>
<!--end-->
<div  class="section-padding" style="padding-bottom: 0 !important;">
  <div class="cusotom-container">
    <div class="row text-center">
      <div class="col-md-6 col-sm-6">
        <div class="custom-two-img custom-three"> <img src="{{ traditional_image }}" alt="{{ module_footwarepage_title_2 }}">
          <h3>{{ module_footwarepage_title_2 }}</h3>
        {{ module_footwarepage_description_2 }}
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="custom-two-img custom-foure">
          <h3>{{ module_footwarepage_title_1 }}</h3>
          {{ module_footwarepage_description_1 }}
          <img src="{{ blend_image }}" alt="{{ module_footwarepage_title_1 }}"> </div>
      </div>
    </div>
    <!-- END ROW --> 
  </div>
</div>
<!--end-->
<div  class="section-padding">
  <div class="cusotom-container">
    <div class="row text-center">
      <div class="section-title">
        <h2><span class="custom-bg-img">some latest articles</span></h2>
      </div>
      <!-- END SECTION TITLE -->
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, <br>
        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam<br>
        voluptatem quia voluptas sit aspernatur aut odit aut modi tempora incidunt ut labore..</p>
      <div class="custom-height"> </div>
      <div class="row text-center">
        <div class="col-md-12 col-sm-6">
            <div class="regular slider">
{% for product in products %}
    <div>
<div class="custom-slider-product">
<div class="custom-two-img"> 
<img src="{{ product.thumb }}">
<span class="custom-catgery">{{ product.designer_name }}</span>
          <h3>{{ product.name }}</h3>
          <a href="{{ product.href }}" class="custom-btn">read more</a> </div>
</div>   
 </div>

{% endfor %}
  </div>
        </div>
        <div class="custom-height"> </div>
        <p class="custom-black-btn"> <a class="btn-style-2" href="index.php?route=product/search&search=&category_id=61">shop our collection</a></p>
      </div>
    </div>
    <!-- END ROW --> 
  </div>
</div>
<!--end--> 


      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script>

 $(document).on('ready', function() {
      $(".regular").slick({
        dots: false,
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 1,
                arrows: true,
                  autoplay: true,
                    autoplaySpeed: 2000,
                    responsive: [
      {
        breakpoint: 500,
        settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        }
      }
    ]        
      });
      });

</script>
{{ footer }}