<style type="text/css">
	.fullwidth{
		width: 100%;
		float: left;
	}
</style>
<div class="fullwidth coupon_during_checkout_outer">
	<div class="fullwidth coupon_during_checkout">
		
	</div>
	<div class="fullwidth" style="float: left;width: 100%;background: #f5f5f5;padding: 20px 0px;border-radius: 5px;">
  {{coupon }}
  {{voucher}}
  {{reward}}

</div>
</div>