


    <div class="col-sm-4">
      <div class="row">
      <label class="col-sm-12 control-label" for="input-voucher">{{ entry_voucher }}</label>
      <div class="col-sm-12">
      <div class="input-group">
        <input type="text" name="voucher" value="{{ voucher }}" placeholder="{{ entry_voucher }}" id="input-voucher" class="form-control" />
        <span class="input-group-btn">
        <input type="submit" value="{{button_voucher}}" id="button-voucher" data-loading-text="{{text_loading}}"  class="btn btn-primary" />
        </span> </div>
      </div>
    </div>
      <script type="text/javascript"><!--
$('#button-voucher').on('click', function() {
	$.ajax({
		url: 'index.php?route=extension/module/coupon_during_checkout/apply_voucher',
		type: 'post',
		data: 'voucher=' + encodeURIComponent($('input[name=\'voucher\']').val()),
		dataType: 'json',
		beforeSend: function() {
	      $('.coupon_during_checkout_outer #button-voucher').button('loading');
	    },
	    complete: function() {
	      $('.coupon_during_checkout_outer #button-voucher').button('reset');
	    },
	    success: function(json) {
	      $('.alert').remove();

	      if (json['error']) {
	        $('.coupon_during_checkout').after('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
	      }

	      if (json['redirect']) {
	        $('.coupon_during_checkout').after('<div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> ' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
	      }
	    },
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});
//--></script>
    </div>