{{ header }}{{ column_left }}

<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script> 
  <!--  Disabled by Power Image Manager. Moved in the footer; <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script> --> 
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="module_fashion_status" id="input-status" class="form-control">
                {% if module_fashion_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_title }}</label>
            <div class="col-sm-10">
              <input type="text" name="module_fashion_modest_title" class="form-control" value="{{ module_fashion_modest_title }}" placeholder="{{ entry_title }}" />
            </div>
            </div>
            <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-description">{{ entry_description }}</label>
                    <div class="col-sm-10">
                      <textarea name="module_fashion_description" placeholder="{{ entry_description }}" id="input-description" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ module_fashion_description }}</textarea>
                    </div>
                  </div>
<div class="form-group">
                    <label class="col-sm-2 control-label" for="input-description">{{ entry_image }}</label>
                    <div class="col-sm-10">
                       <a href="" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="{{ thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                        <input type="hidden" name="module_fashion_image" value="{{ module_fashion_image }}" id="input-image" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-description">Long Description</label>
                    <div class="col-sm-10">
                      <textarea name="module_fashion_description_1" placeholder="Long Description" id="input-description" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ module_fashion_description_1 }}</textarea>
                    </div>
                  </div>
<legend>Section-I</legend>
<table id="trending" class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <td class="text-left ">Name</td>
                  <td class="text-center">{{ entry_image }}</td>
                  <td class="text-right">Description</td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
              {% set trending_row=0 %}

              {% for trending in trendings %}
                <tr id="trending-row{{ trending_row }}">
              <td><input name="trending[{{ trending_row }}][name]" type="text" value="{{ trending.name }}" class="form-control"></td>
             <td class="text-center"><a href="" id="thumb-image_trend{{ trending_row }}" data-toggle="image" class="img-thumbnail"><img src="{{ trending.thumb_trend }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" name="trending[{{ trending_row }}][image]" value="{{ trending.image }}" id="input-image_trend{{ trending_row }}" /></td>
               <td class="text-left"><textarea data-toggle="summernote" data-lang="{{ summernote }}" class=" form-control" id="summernote_trend{{ trending_row }}" name="trending[{{ trending_row }}][description]">{{ trending.description }}</textarea></td>
               <td class="text-right"><button type="button" onclick="$('#trending-row{{ trending_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>

                </tr>
                <script>
$('#summernote_trend{{ trending_row }}').summernote();
                </script>
                 {% set trending_row=trending_row+1 %}
              {% endfor %}
              
              </tbody>
                <tfoot>
                <tr>
                  <td colspan="3"></td>
                  <td class="text-right"><button type="button" onclick="addTrending();" data-toggle="tooltip" title="Add more" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                </tr>
              </tfoot>
              </table>
 <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-description">Trending Notes</label>
                    <div class="col-sm-10">
                      <textarea name="module_fashion_description_2" placeholder="Trending Notes" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ module_fashion_description_2 }}</textarea>
                    </div>
                  </div>
                  <legend>Section-2</legend>
<table id="popular" class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <td class="text-left ">Name</td>
                  <td class="text-center">{{ entry_image }}</td>
                  <td class="text-right">Description</td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
              {% set popular_row=0 %}
              {% for popular in populars %}
                <tr id="popular-row{{ popular_row }}">
                  <td><input name="popular[{{ popular_row }}][name]" type="text" value="{{ popular.name }}" class="form-control"></td>
                 <td class="text-center"><a href="" id="thumb-image_pop{{ popular_row }}" data-toggle="image" class="img-thumbnail"><img src="{{ popular.thumb_pop }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" name="popular[{{ popular_row }}][image]" value="{{ popular.image }}" id="input-image_pop{{ popular_row }}" /></td>
                   <td class="text-left"><textarea data-toggle="summernote" data-lang="{{ summernote }}" class=" form-control" id="summernote_pop{{ popular_row }}" name="popular[{{ popular_row }}][description]">{{ popular.description }}</textarea></td>
 <td class="text-right"><button type="button" onclick="$('#popular-row{{ popular_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>
                </tr>
                <script>
$('#summernote_pop{{ popular_row }}').summernote();
                </script>
                {% set popular_row=popular_row+1 %}
              {% endfor %}
              
              </tbody>
                <tfoot>
                <tr>
                  <td colspan="3"></td>
                  <td class="text-right"><button type="button" onclick="addPopularStyles();" data-toggle="tooltip" title="Add more" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                </tr>
              </tfoot>
              </table>
 <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-description">Trending Notes</label>
                    <div class="col-sm-10">
                      <textarea name="module_fashion_description_3" placeholder="Popular Notes" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ module_fashion_description_3 }}</textarea>
                    </div>
                  </div>

                  <legend>Section-III</legend>

                  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_title }}</label>
            <div class="col-sm-10">
              <input type="text" name="module_fashion_wedding_title" class="form-control" value="{{ module_fashion_wedding_title }}" placeholder="{{ entry_title }}" />
            </div>
            </div>
            <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-description">{{ entry_description }}</label>
                    <div class="col-sm-10">
                      <textarea name="module_fashion_wedding_description" placeholder="{{ entry_description }}" id="input-description" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ module_fashion_wedding_description }}</textarea>
                    </div>
                  </div>
<div class="form-group">
                    <label class="col-sm-2 control-label" for="input-description">{{ entry_image }}</label>
                    <div class="col-sm-10">
                       <a href="" id="thumb-image_wedding" data-toggle="image" class="img-thumbnail"><img src="{{ thumb_wed }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                        <input type="hidden" name="module_fashion_wdding_image" value="{{ module_fashion_wdding_image }}" id="input-image_wedding" />
                    </div>
                  </div>



                  <legend>Section-IV</legend>
<table id="modest" class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <td class="text-left ">Name</td>
                  <td class="text-center">{{ entry_image }}</td>
                  <td class="text-right">Description</td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                {% set modest_row=0 %}
              {% for modest in modests %}
                <tr id="modest-row{{ modest_row }}">
                  <td><input name="modest[{{ modest_row }}][name]" type="text" value="{{ modest.name }}" class="form-control"></td>
                 <td class="text-center"><a href="" id="thumb-image_mod{{ modest_row }}" data-toggle="image" class="img-thumbnail"><img src="{{ modest.thumb_mod }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" name="modest[{{ modest_row }}][image]" value="{{ modest.image }}" id="input-image_mod{{ modest_row }}" /></td>
                   <td class="text-left"><textarea data-toggle="summernote" data-lang="{{ summernote }}" class=" form-control" id="summernote_mod{{ modest_row }}" name="modest[{{ modest_row }}][description]">{{ modest.description }}</textarea></td>
                   <td class="text-right"><button type="button" onclick="$('#modest-row{{ modest_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>

                </tr>
                <script>
$('#summernote_mod{{ modest_row }}').summernote();
                </script>
                {% set modest_row=modest_row+1 %}

              {% endfor %}
              </tbody>
                <tfoot>
                <tr>
                  <td colspan="3"></td>
                  <td class="text-right"><button type="button" onclick="addModest();" data-toggle="tooltip" title="Add more" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                </tr>
              </tfoot>
              </table>
              <div class="form-group">
                    <label class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10">
                      <input type="text" name="module_fashion_title_2" placeholder="Title" class="form-control"  value="{{ module_fashion_title_2 }}">
                    </div>
                  </div>
 <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-description">Trending Notes</label>
                    <div class="col-sm-10">
                      <textarea name="module_fashion_description_4" placeholder="Modest Notes" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ module_fashion_description_4 }}</textarea>
                    </div>
                  </div>

        </form>
      </div>
    </div>
  </div>
</div>


<script>

var trending_row = {{ trending_row }};

function addTrending() {
  html  = '<tr id="trending-row' + trending_row + '">';
    html += '  <td class="text-left"><input type="text" class="form-control" name="trending[' + trending_row + '][name]"></textarea>';

  html += '  </td>';
    html += '  <td class="text-center"><a href="" id="thumb-image_trend' + trending_row + '" data-toggle="image" class="img-thumbnail"><img src="{{ placeholder }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" name="trending[' + trending_row + '][image]" value="" id="input-image_trend' + trending_row + '" /></td>';
     html += '  <td class="text-left"><textarea data-toggle="summernote" data-lang="{{ summernote }}" class=" form-control" id="summernote_trend'+ trending_row +'" name="trending[' + trending_row + '][description]"></textarea>';

  html += '  </td>';
    html += '  <td class="text-right"><button type="button" onclick="$(\'#trending-row' + trending_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
  html += '</tr>';

  $('#trending tbody').append(html);
$('#summernote_trend'+trending_row).summernote();
  trending_row++;



}



var popular_row = {{ popular_row }};
function addPopularStyles() {
  html  = '<tr id="popular-row' + popular_row + '">';
    html += '  <td class="text-left"><input type="text" class="form-control" name="popular[' + popular_row + '][name]"></textarea>';

  html += '  </td>';
    html += '  <td class="text-center"><a href="" id="thumb-image_pop' + popular_row + '" data-toggle="image" class="img-thumbnail"><img src="{{ placeholder }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" name="popular[' + popular_row + '][image]" value="" id="input-image_pop' + popular_row + '" /></td>';
     html += '  <td class="text-left"><textarea data-toggle="summernote" data-lang="{{ summernote }}" class=" form-control" id="summernote_pop'+ popular_row +'" name="popular[' + popular_row + '][description]"></textarea>';

  html += '  </td>';
    html += '  <td class="text-right"><button type="button" onclick="$(\'#trending-row' + popular_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
  html += '</tr>';

  $('#popular tbody').append(html);
$('#summernote_pop'+popular_row).summernote();
  popular_row++;



}


var modest_row = {{ modest_row }};
function addModest() {
  html  = '<tr id="modest-row' + modest_row + '">';
    html += '  <td class="text-left"><input type="text" class="form-control" name="modest[' + modest_row + '][name]"></textarea>';

  html += '  </td>';
    html += '  <td class="text-center"><a href="" id="thumb-image_mod' + modest_row + '" data-toggle="image" class="img-thumbnail"><img src="{{ placeholder }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" name="modest[' + modest_row + '][image]" value="" id="input-image_mod' + modest_row + '" /></td>';
     html += '  <td class="text-left"><textarea data-toggle="summernote" data-lang="{{ summernote }}" class=" form-control" id="summernote_mod'+ modest_row +'" name="modest[' + modest_row + '][description]"></textarea>';

  html += '  </td>';
    html += '  <td class="text-right"><button type="button" onclick="$(\'#trending-row' + modest_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
  html += '</tr>';

  $('#modest tbody').append(html);
$('#summernote_mod'+modest_row).summernote();
  modest_row++;



}

</script>
{{ footer }}