{{ header }}{{ column_left }}

<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script> 
  <!--  Disabled by Power Image Manager. Moved in the footer; <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script> --> 
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="module_handmade_status" id="input-status" class="form-control">
                {% if module_handmade_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>

          <fieldset>
          <legend>Section-I</legend>

            <div class="form-group">
              <label class="col-sm-2 control-label" >{{ entry_banner_image }}</label>
              <div class="col-sm-10">
                 <a href="" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="{{ banner_thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                  <input type="hidden" name="module_handmade_banner_image" value="{{ module_handmade_banner_image }}" id="input-image" />
              </div>
            </div>

            <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_title }}</label>
            <div class="col-sm-10">
              <input type="text" name="module_handmade_title" class="form-control" value="{{ module_handmade_title }}" placeholder="{{ entry_title }}" />
            </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" >{{ entry_description }}</label>
              <div class="col-sm-10">
                <textarea name="module_handmade_description" placeholder="{{ entry_description }}" id="input-description" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ module_handmade_description }}</textarea>
              </div>
            </div>

            <legend>
              Section-II
            </legend>
             <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_title_1 }}</label>
            <div class="col-sm-10">
              <input type="text" name="module_handmade_title1" class="form-control" value="{{ module_handmade_title1 }}" placeholder="{{ entry_title_1 }}" />
            </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" >{{ entry_description }}</label>
              <div class="col-sm-10">
                <textarea name="module_handmade_description1" placeholder="{{ entry_description }}" id="input-description" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ module_handmade_description1 }}</textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" >{{ entry_image }}</label>
              <div class="col-sm-10">
                 <a href="" id="thumb-image1" data-toggle="image" class="img-thumbnail"><img src="{{ thumb_1 }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                  <input type="hidden" name="module_handmade_image1" value="{{ module_handmade_image1 }}" id="input-image1" />
              </div>
            </div>

            <legend>
              Section-III
            </legend>
             <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_title_1 }}</label>
            <div class="col-sm-10">
              <input type="text" name="module_handmade_title2" class="form-control" value="{{ module_handmade_title2 }}" placeholder="{{ entry_title_1 }}" />
            </div>
            </div>
              <div class="form-group">
              <label class="col-sm-2 control-label" >{{ entry_image }}</label>
              <div class="col-sm-10">
                 <a href="" id="thumb-image2" data-toggle="image" class="img-thumbnail"><img src="{{ thumb_2 }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                  <input type="hidden" name="module_handmade_image2" value="{{ module_handmade_image2 }}" id="input-image2" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" >{{ entry_description }}</label>
              <div class="col-sm-10">
                <textarea name="module_handmade_description2" placeholder="{{ entry_description }}" id="input-description" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ module_handmade_description2 }}</textarea>
              </div>
            </div>

              <div class="form-group">
              <label class="col-sm-2 control-label" >{{ entry_image }}</label>
              <div class="col-sm-10">
                 <a href="" id="thumb-image3" data-toggle="image" class="img-thumbnail"><img src="{{ thumb_3 }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                  <input type="hidden" name="module_handmade_image3" value="{{ module_handmade_image3 }}" id="input-image3" />
              </div>
            </div>
          
               <div class="form-group">
              <label class="col-sm-2 control-label" >{{ entry_description }}</label>
              <div class="col-sm-10">
                <textarea name="module_handmade_description3" placeholder="{{ entry_description }}" id="input-description" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ module_handmade_description3 }}</textarea>
              </div>
            </div>

             <div class="form-group">
              <div class="col-sm-3"></div>
              <div class="col-sm-3">
                 <a href="" id="thumb-image4" data-toggle="image" class="img-thumbnail"><img src="{{ thumb_4 }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                  <input type="hidden" name="module_handmade_image4" value="{{ module_handmade_image4 }}" id="input-image4" />
              </div>

               <div class="col-sm-3">
                 <a href="" id="thumb-image5" data-toggle="image" class="img-thumbnail"><img src="{{ thumb_5 }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                  <input type="hidden" name="module_handmade_image5" value="{{ module_handmade_image5 }}" id="input-image5" />
              </div>

               <div class="col-sm-3">
                 <a href="" id="thumb-image6" data-toggle="image" class="img-thumbnail"><img src="{{ thumb_6 }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                  <input type="hidden" name="module_handmade_image6" value="{{ module_handmade_image4 }}" id="input-image6" />
              </div>
              </div>
            



               <legend>
              Section-IV
            </legend>
             <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_title_1 }}</label>
            <div class="col-sm-10">
              <input type="text" name="module_handmade_title4" class="form-control" value="{{ module_handmade_title4 }}" placeholder="{{ entry_title_1 }}" />
            </div>
            </div>
              <div class="form-group">
              <label class="col-sm-2 control-label" >{{ entry_image }}</label>
              <div class="col-sm-10">
                 <a href="" id="thumb-image7" data-toggle="image" class="img-thumbnail"><img src="{{ thumb_7 }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                  <input type="hidden" name="module_handmade_image7" value="{{ module_handmade_image7 }}" id="input-image7" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" >{{ entry_description }}</label>
              <div class="col-sm-10">
                <textarea name="module_handmade_description4" placeholder="{{ entry_description }}" id="input-description4" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ module_handmade_description4 }}</textarea>
              </div>
            </div>

              <div class="form-group">
              <label class="col-sm-2 control-label" >{{ entry_image }}</label>
              <div class="col-sm-10">
                 <a href="" id="thumb-image3" data-toggle="image" class="img-thumbnail"><img src="{{ thumb_8 }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                  <input type="hidden" name="module_handmade_image8" value="{{ module_handmade_image8 }}" id="input-image3" />
              </div>
            </div>
          
               <div class="form-group">
              <label class="col-sm-2 control-label" >{{ entry_description }}</label>
              <div class="col-sm-10">
                <textarea name="module_handmade_description5" placeholder="{{ entry_description }}" id="input-description5" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ module_handmade_description5 }}</textarea>
              </div>
            </div>

            <legend>Section V</legend>
              <div class="form-group">
              <label class="col-sm-2 control-label" >{{ entry_description }}</label>
              <div class="col-sm-10">
                <textarea name="module_handmade_description6" placeholder="{{ entry_description }}" id="input-description6" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ module_handmade_description6 }}</textarea>
              </div>
            </div> 
             <div class="form-group">
              <label class="col-sm-2 control-label" >{{ entry_description }}</label>
              <div class="col-sm-10">
                <textarea name="module_handmade_description7" placeholder="{{ entry_description }}" id="input-description7" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ module_handmade_description7 }}</textarea>
              </div>
            </div>

            <div class="form-group">
            <label class="col-sm-2 control-label" >Embroidery Text</label>
            <div class="col-sm-10">
              <input type="text" name="module_handmade_emb_title" class="form-control" value="{{ module_handmade_emb_title }}" placeholder="Embroidery Text" />
            </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6">
                 <a href="" id="thumb-image9" data-toggle="image" class="img-thumbnail"><img src="{{ thumb_9 }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                  <input type="hidden" name="module_handmade_image9" value="{{ module_handmade_image9 }}" id="input-image9" />
              </div>
              
               <div class="col-sm-6">
                 <a href="" id="thumb-image10" data-toggle="image" class="img-thumbnail"><img src="{{ thumb_10 }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                  <input type="hidden" name="module_handmade_image10" value="{{ module_handmade_image10 }}" id="input-image10" />
              </div>
              </div>

              <div class="form-group">
              <label class="col-sm-2 control-label" >{{ entry_description }}</label>
              <div class="col-sm-10">
                <textarea name="module_handmade_description8" placeholder="{{ entry_description }}" id="input-description8" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ module_handmade_description8 }}</textarea>
              </div>
            </div>

<div class="form-group">
             <label class="control-label col-sm-2">Bottom Banner Image </label>
              <div class="col-sm-3">
                 <a href="" id="thumb-image11" data-toggle="image" class="img-thumbnail"><img src="{{ thumb_11 }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                  <input type="hidden" name="module_handmade_image11" value="{{ module_handmade_image9 }}" id="input-image11" />
              </div>
            </div>

            <legend>Section VI</legend>
             <div class="form-group">
            <label class="col-sm-2 control-label" >Title</label>
            <div class="col-sm-10">
              <input type="text" name="module_handmade_foot_title" class="form-control" value="{{ module_handmade_foot_title }}" placeholder="Title" />
            </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" >Image</label>
              <div class="col-sm-10">
                 <a href="" id="thumb-image12" data-toggle="image" class="img-thumbnail"><img src="{{ thumb_12 }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                  <input type="hidden" name="module_handmade_image12" value="{{ module_handmade_image12 }}" id="input-image12" />
              </div>
              </div>
               <div class="form-group">
              <label class="col-sm-2 control-label" >{{ entry_description }}</label>
              <div class="col-sm-10">
                <textarea name="module_handmade_description9" placeholder="{{ entry_description }}" id="input-description9" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ module_handmade_description9 }}</textarea>
              </div>
            </div>
          </fieldset>
          
        
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}