{{ header }}{{ column_left }}

<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script> 
  <!--  Disabled by Power Image Manager. Moved in the footer; <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script> --> 
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="module_testimonials_status" id="input-status" class="form-control">
                {% if module_testimonials_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_title }}</label>
            <div class="col-sm-10">
              <input type="text" name="module_testimonials_title" class="form-control" value="{{ module_testimonials_title }}" placeholder="{{ entry_title }}" />
            </div>
            </div>
            <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-description">{{ entry_description }}</label>
                    <div class="col-sm-10">
                      <textarea name="module_testimonials_description" placeholder="{{ entry_description }}" id="input-description" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ module_testimonials_description }}</textarea>
                    </div>
                  </div>

<div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_button_link }}</label>
            <div class="col-sm-10">
<div class="input-group date">
                    <input type="text" name="module_testimonials_link" value="{{ module_testimonials_link }}" placeholder="{{ entry_button_link }}" data-date-format="YYYY-MM-DD" id="input-date-available" class="form-control" />
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                    </span></div>
            </div>
            </div>

        </form>
      </div>

      <div class="table-responsive">
        <table class="table">
            <thead>
              <tr>
              <th>ID#</th>
              <th>Author</th>
              <th>Status</th>
              <th>Date</th>
              <th>Action</th>
              </tr>
            </thead>
            <tbody>
            {% for testimonial in testimonials %}
              <tr>
                <td>{{ testimonial.testimonial_id }}</td>
                <td>{{ testimonial.author }}</td>
                <td>{% if testimonial.status==1 %}Enabled{% else %}Disabled{% endif %}</td>
                <td>{{ testimonial.date_added }}</td>
                <td><a class="btn btn-info" href="{{ testimonial.edit }}"><i class="fa fa-pencil"></i></a></td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
$('.date').datetimepicker({
  language: '{{ datepicker }}',
  pickTime: false
});
</script>
{{ footer }}