{{ header }}
<div id="product-compare" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
    

<div  class="section-padding">
  <div class="cusotom-container">
    <div class="row text-center">
          <p class="text-center custom-image"> <img class="img-responsive" src="{{ banner_thumb }}" alt=" Main Banner" style="display: initial;"></p>
           <div class="custom-height"> </div>
      <div class="section-title">
        <h2><span class="custom-bg-img">{{ module_handmade_title }}</span></h2>
      </div>
      <!-- END SECTION TITLE -->
      <p>{{ module_handmade_description }}</p>
    </div>
    <!-- END ROW --> 
  </div>
</div>
<!--end-->
<div  class="section-padding custom-padding-top"  style="padding-top: 0;">
  <div class="cusotom-container">
    <div class="row text-center">
      
      <!-- END SECTION TITLE -->
      <div class="col-md-5 col-sm-6">
        <div class="custom-two-img custom-margin-top-zero"> <img src="{{ thumb_1 }}">
      </div>
      </div>
      <div class="col-md-7 col-sm-6 custom-padding-beaut">
        <div class="section-title">
        <h2><span class="custom-bg-img">{{ module_handmade_title1 }}</span></h2>
      </div>
      <p>{{ module_handmade_description1 }}</p>
      </div>
    </div>
    <!-- END ROW --> 
  </div>
</div>
<!--end-->
<div class="section-padding">
  <div class="cusotom-container">
    <div class="row text-center">
      <div class="section-title">
        <h2><span class="custom-bg-img">{{ module_handmade_title2 }}</span></h2>
      </div>
      <!-- END SECTION TITLE -->
<div class="col-md-1 col-sm-6"> </div>
<div class="col-md-10 col-sm-6">
  <p class="text-center"> <img class="img-responsive" src="{{ thumb_2 }}" alt="" style="display: initial;"></p>
</div>
<div class="col-md-1 col-sm-6"> </div>
  <div class="custom-height"> </div>
      <p>{{ module_handmade_description2 }}</p>
    </div>
    <!-- END ROW --> 
  </div>
</div>
<!--end-->
<div class="section-padding">
  <div class="cusotom-container">
    <div class="row text-center">
      <div class="col-md-6 col-sm-6 custom-section-11"><p> {{ module_handmade_description2 }}</p></div>
<div class="col-md-6 col-sm-6">
  <p class="text-center"> <img class="img-responsive" src="{{ thumb_3 }}" alt="" style="display: initial;"></p>
</div>
 <div class="custom-height"> </div>
<div class="col-md-4 col-sm-6 custom-padding-fouty">
  <p class="text-center"> <img class="img-responsive" src="{{ thumb_4 }}" alt="" style="display: initial;"></p>
</div>
   
<div class="col-md-4 col-sm-6 custom-padding-fouty">
  <p class="text-center"> <img class="img-responsive" src="{{ thumb_5 }}" alt="" style="display: initial;"></p>
</div><div class="col-md-4 col-sm-6">
  <p class="text-center"> <img class="img-responsive" src="{{ thumb_6 }}" alt="" style="display: initial;"></p>
</div>
    </div>
    <!-- END ROW --> 
  </div>
</div>
<!--end-->
<div class="section-padding">
  <div class="cusotom-container">
    <div class="row text-center">
    <div class="section-title">
        <h2><span class="custom-bg-img">{{  module_handmade_title4 }}</span></h2>
      </div>
      <div class="col-md-6 col-sm-6 custom-section-11"><p style="padding-top: 50px;"> {{ module_handmade_description4 }}</p></div>
<div class="col-md-6 col-sm-6">
  <p class="text-center"> <img class="img-responsive" src="{{ thumb_7 }}" alt="" style="display: initial;"></p>
</div>
 <div class="custom-height"> </div>
<div class="col-md-6 col-sm-6">
  <p class="text-center"> <img class="img-responsive" src="{{ thumb_8 }}" alt="" style="display: initial;"></p>
</div>
   
<div class="col-md-6 col-sm-6 custom-section-11"><p style="padding-top: 50px;"> {{ module_handmade_description5 }}</p></div>

<div class="custom-height"> </div>
<p>{{ module_handmade_description6 }}</p>
<div class="custom-height"> </div>
<p>{{ module_handmade_description7 }}</p>
    </div>
    <!-- END ROW --> 
  </div>
</div>
<!--end-->
<div class="section-padding">
  <div class="cusotom-container">
    <div class="row text-center">
    <div class="section-title">
        <h2><span class="custom-bg-img">{{ module_handmade_emb_title }}</span></h2>
      </div>
      <div class="col-md-6 col-sm-6 custom-section-11"><p class="text-center"> <img class="img-responsive" src="{{ thumb_9 }}" alt="" style="display: initial;"></p></div>
<div class="col-md-6 col-sm-6">
  <p class="text-center"> <img class="img-responsive" src="{{ thumb_10 }}" alt="" style="display: initial;"></p>
</div>
    </div>
    <!-- END ROW --> 
  </div>
</div>
<!--end-->
<div class="section-padding custom-padding-top" style="padding-top:0;">
  <div class="cusotom-container">
    <div class="row text-center">
      <p>{{ module_handmade_description8 }}</p>
      <div class="custom-height"> </div>
<div class="col-md-1 col-sm-6"> </div>
<div class="col-md-10 col-sm-6">
  <p class="text-center"> <img class="img-responsive" src="{{ thumb_11 }}" alt="" style="display: initial;"></p>
</div>
<div class="col-md-1 col-sm-6"> </div>
    </div>
    <!-- END ROW --> 
  </div>
</div>
<!--end-->
<div class="section-padding custom-padding-top" style="padding-top: 0;">
  <div class="cusotom-container">
    <div class="row text-center">
      
      <!-- END SECTION TITLE -->
      <div class="col-md-5 col-sm-6">
        <div class="custom-two-img"> <img src="{{ thumb_12 }}">
      </div>
      </div>
      <div class="col-md-7 col-sm-6 custom-padding-beaut">
        <div class="section-title">
        <h2><span class="custom-bg-img">{{ module_handmade_foot_title }}</span></h2>
      </div>
      <p>{{ module_handmade_description9 }}</p>
      </div>
    </div>
    <!-- END ROW --> 
  </div>
</div>


      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }} 