.top-area {
    background: #fededc !important;
    border-bottom: 0 !important;
    padding: 7px 0;
}
.wrapper-logo img {
    margin-top: 0 !important;
}
.logo-area-right .wishlist-link, .logo-area-right .shopping-cart-link {

    padding: 0px 0 0 0 !important;
}
.logo-area-right {
    float: right !important;
}
.wrapper-logo img {

    display: inherit !important;

}
.wrapper-logo h1 {

    margin: 0 !important;
    text-align: center !important;

}
footer .copyright {
    background: #000 !important;
    padding-top: 0 !important;
    text-align: center;
}
.footer-two {
    padding: 100px 0 40px 0 !important;
    background: #000 !important;
}
.custom-footer-logo {
    text-align: center;
    margin-bottom: 100px !important;
}
.widget-title h2 {
    font-size: 16px !important;
    font-weight: normal !important;
}
.quick-link-list a {
    margin-left: 0 !important;
    color: #808080 !important;
}
.quick-link-list a:hover {
    color: #fededc !important;
}
.widget .quick-link-list li::after {

    background-color: transparent !important;
}
.quick-link-list li a {
    font-family: 'Source Sans Pro', sans-serif !important;
    letter-spacing: 0 !important;
}
.copyright-text p {
    color: #808080 !important;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold !important;
    text-transform: uppercase !important;
}
.custom-phone, .custom-phone a, .custom-text-header {
    color: #4c4c53 !important;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600 !important;
}.top-menu ul li:first-child {

    border-right: solid 2px #92949b;
    margin-right: 15px;

}
.top-menu li a {

    color: #92949b !important;
    padding-left: 0 !important;

}
.top-menu li {

    color: #92949b !important;

}.top-menu li a img {

    margin-right: 7px !important;

}
.top-menu li a i {

    margin-right: 8px !important;
    color: #92949b !important;
    margin-left: 8px !important;

}
.top-menu li a {
    line-height: 0 !important;
}
.custom-drop li {
    border-right: 0 !important;
    width: 100%;
    padding-left: 20px;
    margin-right: 0 !important;
}
.custom-login a {

    color: #92949b;
    text-transform: uppercase !important;
    font-weight: 600 !important;

}
.logo-area-right a i {

    font-size: 32px !important;
    color: #92949b !important;

}
#cart img{
    vertical-align: super !important;
}
.wishlist-link span.cart-amnt, .shopping-cart-link span.cart-amnt {

    background-color: #fededc;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    color: #92949b;
    font-size: 11px;
    height: 20px !important;
    width: 20px;
    line-height: 20px !important;
    position: absolute;
    left: 12px;
    top: -29px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    bottom: 0;
    font-weight: bold !important;

}.top-menu {

    margin-top: 19px;

}
.logo-area-right {

    margin-top: 16px !important;

}
.custom-login a {

    margin-right: 25px !important;
    position: relative;
    top: -7px;

}
.custom-login a:hover {
    color: #fededc !important;
}.custom-login {

    display: inline-block;

}
.mainmenu-area {
    background-color: #fff !important;
    border-bottom: solid 1px #d0d0d2 !important;
}
.slogan{
    font-size: 10px;
}
.navbar-default .navbar-nav > li > a {
    color: #0e0e0f !important;
    padding: 32px;
        padding-top: 32px;
        padding-bottom: 32px;
    font-weight: 600 !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.nav.navbar-nav.navbar-left {
    text-align: center !important;
    float: none !important;
}.navbar-nav > li {
    float: none !important;
    display: inline-block !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {

    background-color: #fff !important;
    border-bottom: solid 3px #fededc;
}
.logo-area {
    padding: 32px 0 !important;
}
.navbar-default .navbar-nav > li > a:hover {
     background-color: #fff !important;
    border-bottom: solid 3px #fededc;
}
.section-title h2 {

    color: #0e0e0f !important;
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 10px;
    position: relative;
    font-family: 'Lato', sans-serif !important;

}.section-title {
    position: relative;
}
.section-title {
    margin-bottom: 35px !important;
}p {
    color: #0e0e0f !important;
}
.cusotom-container{/*width: 1020px;padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;*/}

.cusotom-container-newsletter{width: 1020px;padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;}

.custom-height {
    height: 80px;clear: both;
}
.custom-height1 {
    height: 70px;
}
.custom-image img {
    width: 100% !important;
}.custom-two-img img {
    width: 100%;
}
.custom-two-img h3 {
    font-size: 16px !important;
    color: #0e0e0f !important;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif !important;
}
.custom-btn {
    font-family: 'Lato', sans-serif;
    color: #0e0e0f !important;
    font-size: 12px !important;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: solid 2px #0e0e0f;
    padding-top: 6px;
    padding-bottom: 6px;
}
.custom-btn:hover {
    font-family: 'Lato', sans-serif;
    color: #fededc !important;
    font-size: 12px !important;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: solid 2px #fededc;
    padding-top: 6px;
    padding-bottom: 6px;
}
.custom-two-img-tet h3 {
    font-size: 18px !important;
    text-transform: uppercase !important;
    text-align: left !important;
    margin-bottom: 20px;
    color: #0e0e0f !important;font-family: 'Lato', sans-serif !important;
}
.custom-two-img-tet p {
    text-align: left !important;
}
.btn-style-2 {
    background: #0e0e0f !important;
    border: 2px solid #0e0e0f !important;
    border-radius: 0;
    padding: 5px 16px;
    position: relative;
    color: #fff;
    font-family: 'Lato', sans-serif !important;
    font-size: 14px;
    text-transform: uppercase;
    z-index: 1;
    display: inline-block;
    font-weight: 600 !important;
}
.cusotom-bg-full {

    background: #fededc !important;

}
.form-control {

    width: 100% !important;

}
.form-group {

    margin-bottom: 0 !important;
    width: 60%;
    display: inline-block;
    margin-right: 2%;

}.custom-title h3 {

    font-family: 'Lato', sans-serif;
    font-size: 17px;
    text-transform: uppercase !important;
    color: #0e0e0f !important;
    margin-top: 0 !important;
    margin-bottom: 15px;

}
.news-btn {

    background: #0e0e0f !important;
    border: 2px solid #0e0e0f !important;
    color: #fff;
    font-family: montserrat, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 0;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;

}
.news-btn:hover {

    background: #fff !important;
    border: 2px solid #0e0e0f !important;
    color: #0e0e0f;
    font-family: montserrat, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 0;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;

}.cusotom-bg-full {

    background: #fededc !important;
    padding-top: 40px;
    padding-bottom: 40px;

}.custom-footer-so {

    text-align: center !important;

}
.custom-about-social li a i {
font-size: 18px;
    color: #0e0e0f !important;

}
.custom-about-social ul li {

    display: inline-block;
    margin-right: 20px;

}
.custom-about-social ul li:last-child {

    margin-right: 0;

}.custom-bg-img::before {
    content: url(../img/logo-bg.png);
    position: absolute;
    z-index: -1;
    left: -70px;
    top: -9px;
}.custom-bg-img {
    position: relative;
}.custom-about-social li a i:hover {
    opacity: 0.8;
}.custom-foure {
    text-align: left;
    margin-top: 170px;
}
.custom-foure p {
    margin-bottom: 100px;
}
.custom-three h3 {

    margin-top: 150px;
    text-align: left;

}
.custom-three p {

    text-align: left;

}
.custom-padding-beaut {
    padding-top: 160px;
}.custom-section-11 p {
    text-align: left !important;
}
.custom-catgery {
    color: #0e0e0f;
    margin-top: 30px !important;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    font-size: 12px;
}stom-slider-product {
    padding: 26px;
}
.slick-next.slick-arrow {
    background-image: url("../img/arrow-right.jpg");
    width: 50px !important;
    height: 50px !important;
    opacity: 1 !important;
}
.slick-next.slick-arrow:hover {
    background-image: url("../img/arrow-right.jpg");
    width: 50px !important;
    height: 50px !important;
    opacity: 1 !important;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.41);
}
.slick-next::before {
    content: '' !important;
}
.slick-prev.slick-arrow {
    background-image: url("../img/arrow-left.jpg");
    width: 50px !important;
    height: 50px !important;
    opacity: 1 !important;
}
.slick-prev.slick-arrow:hover {
    background-image: url("../img/arrow-left.jpg");
    width: 50px !important;
    height: 50px !important;
    opacity: 1 !important;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.41);
}
.slick-prev::before {
    content: '' !important;
}element {

}
.custom-slider-product {

    padding: 30px;

}
.custom-two-img-mian h3 {
    font-size: 58px !important;
    font-family: 'Lato', sans-serif;
    color: #fff !important;
    font-weight: normal !important;
    line-height: 60px;
    margin: 0 !important;
    padding-top: 110px !important;
    padding-bottom: 60px;
    text-shadow: 0 2px 2px #000;
}
.custom-btn-main {
    font-size: 16px !important;
    border: solid 2px #fff;
    color: #fff !important;
    padding: 10px 40px;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase !important;
}
.custom-btn-main:hover {
    font-size: 16px !important;
    border: solid 2px #fededc;
    color: #0e0e0f !important;
    padding: 10px 40px;
    display: inline-block;
    background:#fededc;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase !important;
}
.custom-slider-product-main {
    padding-bottom: 268px;
}
.regular1 .slick-dots {
    position: absolute;
    bottom: 0;
}
.regular1 .slick-dots li button::before {
color:#fff  !important;
}.custom-padding4 {
    padding: 30px;
}.custom-padding-beaut4 {
    padding-top: 100px !important;
}.section-title div {
    text-transform: uppercase;
}.custom-two-img4 h3 {
    font-size: 20px;
    color: #0e0e0f !important;
    font-family: 'Lato', sans-serif !important;
}
element {

}
.custom-two-img4 p {

    color: #93989B !important;
    font-size: 17px;
    padding: 0 20px;
    line-height: 28px;
    margin-top: 20px;

}.custom-btn-style-3 {
    background: #fededc !important;
    border-color: #fededc !important;
    color: #0e0e0f !important;
}.custom-btn-style-2 {
    background: #fff !important;
    color: #0e0e0f !important;
    margin-right: 20px;
}figure.banner-effect:hover figcaption {
    background-color: rgba(0, 0, 0, 0.5) !important;
}.single-banner figure figcaption p {
    color: #fff !important;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
    text-align: left !important;
}.single-banner figure figcaption p.custom-black-btn {

    text-align: center !important;

}
.single-banner figure figcaption p .btn-style-2 {

    background: #fff !important;
    border-color: #fff !important;
    color: #0e0e0f !important;

}figure.banner-effect figcaption::before {
    border: 0 !important;
}
.custom-pos {
    bottom: 0;
    position: absolute;
    padding-right: 25px;
    padding-bottom: 15px;
}.single-banner .custom-two-img h3 {
    margin-top: 20px !important;
    display: inline-block;
    width: 100%;
}.custom-four-img img {
    width: 100%;
}.custom-four-img-4 {
    margin-bottom: 30px;
}.custom-contact h4 {
    color: #0e0e0f !important;
    font-family: 'Lato', sans-serif;
    margin-top: 0 !important;
    margin-bottom: 18px;
}.custom-contact strong {
    color: #0e0e0f !important;
}.custom-contact p {
    margin-bottom: 20px !important;
}.custom-two-img-logo img {
    margin-top: 40px;
    margin-bottom: 10px;
}.custom-testi::before {
    content: url(../img/test-1.png);position: absolute;
top: -41px;
left: 110px;
}
.custom-testi::after {
    content: url(../img/test-2.png);position: absolute;
bottom: -60px;
right: 110px;
}.custom-full-width {
    color: #0e0e0f !important;
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
}.custom-testi {
    position: relative;
}.custom-two-img-how h3 {
    font-size: 16px;
    color: 'Lato', sans-serif !important;
    color: #0e0e0f !important;
    text-transform: uppercase;
    text-align: left !important;
    margin-top: 0;
    margin-bottom: 30px !important;
}.custom-two-img-how p {
    text-align: left !important;
}.custom-two-img-how {
    position: relative;
}
.custom-left-img img {
    position: absolute;
    top: -80px;
    left: 0;
}
.custom-one, .custom-two {
    padding-top: 101px;
}
.custom-right-img img {
    position: absolute;
    top: -80px;
    right: 0;
}.customtesti p {
    padding-bottom: 40px;
}.custom-name {
    font-size: 17px !important;
    color: #daa5a2 !important;
    font-weight: bold !important;
    margin-bottom: 5px;
}
.custom-full-width span {
    line-height: 35px !important;
}
.zoomWrapper {
    width: 100% !important;
    height: auto !important;
}
.custom-categary-naem {
    font-family: 'Lato', sans-serif;
    font-size: 13px !important;
    margin-bottom: 10px !important;
    display: inline-block !important;
}
.product-details-one h3 {
    color: #0e0e0f !important;line-height: 30px !important;
    font-family: 'Lato', sans-serif !important;
    margin-bottom: 20px !important;
}
span.amount {
    font-size: 15px !important;
    font-weight: bold !important;
    color: 'Lato', sans-serif !important;
    color: #000 !important;
    border-bottom: solid 2px #eee;
    padding-bottom: 20px !important;
}
.product-details-one .form-group {
    width: 100% !important;
  
    margin-right: 0  !important;
}
.product-details-one .form-group label {
    color: #0e0e0f !important;
}
.product-details-one .form-group {
    margin-bottom: 26px !important;
}
.pro-attributes {
    float: left;
    width: 100%;
    margin: 0 !important;
}
.custom-left-padding {
    padding-left: 0 !important;
}
#checkout-accordion .panel-heading .panel-title {
    font-family: 'Lato', sans-serif !important;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 !important;
}
#checkout-accordion .panel-heading {
    background-color: #fff !important;
    border-top: 1px solid #eee !important;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    position: relative;
    border-bottom: 1px solid #eee;
    padding: 23px 0 !important;
    border-right: 0 !important;border-left: 0;
}
#checkout-accordion a.accordion-toggle.collapsed {
    color: #323232;
    width: 100% !important;
    background: #fff !important;
}
#checkout-accordion a.accordion-toggle.collapsed span {
    float: right;
}
#checkout-accordion a.accordion-toggle span {
    float: right;
}#checkout-accordion a.accordion-toggle {
    width: 100% !important;
}
#checkout-accordion.panel-group {
    margin-bottom: 0 !important;
}.cart-info {
    float: left;
    width: 40% !important;
    margin-right: 7% !important;
}
.demo_vertical.form-control {
    width: 60% !important;
    margin-left: 20px;
    border: 0 !important;
    background: #fff !important;
    box-shadow: inherit !important;
}.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #fff !important;
    font-size: 24px !important;
}
.form-group.quantity {
    border: solid 1px #0e0e0f;
    padding: 0 35px;
}.btn-default:hover {
    color: #333;
    background-color: transparent !important;
    border-color: #adadad;
}
.custom-two-img-tet {
    padding-top: 100px;
}
.custom-two-img-single-heading p {
    margin-bottom: 30px;
    text-align: left !important;
}.custom-two-img-single-heading {
    padding-top: 150px;
}.custom-two-img-single p {
    text-align: left;
    padding-top: 131px;
}

.add-to-cart-btn {

    background: #0e0e0f !important;
    border: 2px solid #0e0e0f !important;
    color: #fff;
    font-family: montserrat, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    padding: 14px 56px;
    border-radius: 0;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;

}
.add-to-cart-btn:hover {

    background: #fff !important;
    border: 2px solid #0e0e0f !important;
    color: #0e0e0f;
    font-family: montserrat, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    padding: 14px 56px;
    border-radius: 0;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;

}
.custom-details {
    clear: both !important;
}
.custom-details label {
    color: #0e0e0f !important;
}
.quantity .bootstrap-touchspin .btn {
    height: 100% !important;
}
.btn.btn-default.bootstrap-touchspin-down {
    height: 16px !important;
}
.add-to-cart-btn-wrap {
    margin-top: 42px !important;
    display: inline-block;
}
.custom-testi-bg {

    background-image: url("../img/main-order-2.jpg");
    padding: 118px 0;background-repeat: no-repeat;

}
.customtesti-2::before {
    content: url(../img/test-1.png);
    position: absolute;
    top: 19px;
    left: 0;
}
.customtesti-2::after {
    content: url(../img/test-2.png);
    position: absolute;
    bottom: 30px;
    right: 60px;
}.customtesti-2 {

    position: relative;
    padding: 50px 70px !important;

}.customtesti-2 p {
    font-size: 38px;
    color: #fff !important;
    line-height: 50px;
    margin-bottom: 10px !important;
}
.custom-name-1 {

    font-size: 23px;
    color: #fff;

}
.custom-form .form-group {
    width: 100% !important;
    display: inline-block;
    margin-right: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 20px !important;
}
.checkout-form label {
    font-family: 'Lato', sans-serif !important;
    color: #0e0e0f !important;
    font-size: 16px !important;
    display: inline-block;
    width: 100%;
}
.custompop {
    background: #fafafa !important;
    padding: 50px;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.cusom-image-product {
    width: 100%;
    margin-bottom: 30px;
}
.order-btn {

    background: #0e0e0f !important;
    border: 2px solid #0e0e0f !important;

}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.custombtn {

    color: #fff;
    padding: 10px 30px;
    font-size: 15px;
    font-weight: bold;
    background: #0e0e0f !important;
    border: 0 !important;
    border-radius: 0 !important;

}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}.modal-header {
    padding: 0 !important;
    border-bottom: 1px solid #e5e5e5;
}
#exampleModalLabel {
    font-size: 18px !important;
    padding: 15px 40px;
    border-bottom: solid 2px #eee;
    text-transform: uppercase !important;
    font-family: 'Lato', sans-serif !important;
}
.modal-body {
    position: relative;
    padding: 20px 40px !important;
}
.modal-body p {
    margin-bottom: 20px !important;
    font-weight: bold !important;
    color: #0e0e0f !important;
}.custom-input-image input {
    border-right: 0 !important;
    border-left: 0 !important;
    border-top: 0 !important;
    box-shadow: inherit !important;
    height: 30px !important;
    width: 92% !important;
    float: left !important;
    margin-left: 3%;
}.custom-input-image img {
    float: left !important;
}.custom-input-image {
    margin-bottom: 30px !important;
    display: inline-block;
    width: 100% !important;
}.custom-input-image img {
    position: relative;
    top: 5px;
}

@media only screen and (max-width: 480px) {
    .logo-area .col-md-4 {
    width: 50% !important;
}
.logo-area .col-md-4:first-child {
    display: none !important;
}.logo-area .text-left:last-child {

    text-align: right !important;

}
.custom-login a:last-child {

    margin: 0 !important;

}
.wrapper-logo h1 {
    margin: 0 !important;
    text-align: left !important;
}
.custom-text-header {
    display: none !important;
}.top-area .text-left {
    text-align: center !important;
}.top-menu {

    display: none !important;

}.wrapper-logo, .search-area {

    margin-bottom: 0 !important;

}
.shopping-cart-link {

    display: none !important;

}.logo-area .text-left {

    text-align: center !important;

}.logo-area-right {

    float: none !important;

}.cusotom-container {

    width: auto !important;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;

}.form-group {

    margin-bottom: 0 !important;
    width: 57%;
    display: inline-block;
    margin-right: 2%;

}.custom-footer-so {

    margin-top: 30px;

}.custom-title {

    margin-bottom: 30px !important;
    text-align: center !important;

}
.custom-footer-logo {

    margin-bottom: 0 !important;

}.footer-two .widget {

    margin-bottom: 20px !important;
    text-align: center !important;

}
.footer-two {

    padding: 50px 0 0px 0 !important;
    background: #000 !important;

}.custom-two-img {

    margin-bottom: 40px;

}.custom-two-img-tet {

    padding-top: 0;
    padding-bottom: 40px;

}.section-padding {

    padding: 40px 0;

}.section-padding {

    display: inline-block;
    width: 100%;

}.custom-image {

    margin-top: 40px;

}
.custom-contact {
    padding-top: 40px !important;
}.custom-padding-beaut {
    padding-top: 0;
}
.custom-height {
    height: 40px !important;
    clear: both;
}.custom-four-img-4, .custom-four-img-5{
    margin-bottom: 40px;
}
.custom-margin-bottom-zero{    margin-bottom: 0;}
.custom-margin-top-zero{    margin-top: 0;}
.single-banner {

    margin-bottom: 0 !important;
}
.custom-three h3 {
    margin-top: 40px !important;
    text-align: left;
}.custom-foure {
    text-align: left;
    margin-top: 40px !important;
}
.custom-foure p {
    margin-bottom: 40px;
}
.custom-padding-fouty{padding-bottom:40px;}
.custom-padding-top{
    padding-top: 40px;
}.custom-section-11 p {padding-top: 0 !important;
    margin-bottom: 40px !important;
}.custom-two-img-mian h3 {
    font-size: 28px !important;
    font-family: 'Lato', sans-serif;
    color: #fff !important;
    font-weight: normal !important;
    line-height: 30px;
    margin: 0 !important;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    text-shadow: 0 2px 2px #000;
}
.custom-slider-product-main {
    padding-bottom: 60px;
    background-size: cover;
}.custom-padding-beaut4 {
    padding-top: 0;
}.custom-input-image input {

    margin-left: 3%;
}
.zoomWrapper {

    width: 100% !important;
    height: 500px !important;
    display: inline-block !important;
    clear: both;

}.zoomContainer {

    display: none !important;

}.cart-info {

    float: left;
    width: 100% !important;
    margin-right: 7% !important;

}
.custom-two-img-single p {

    text-align: left;
    padding-top: 0;

}.custom-two-img-single-heading {

    padding-top: 0;

}.demo_vertical.form-control {
    width: 83% !important;
    margin-left: 20px;
    border: 0 !important;
    background: #fff !important;
    box-shadow: inherit !important;
}.custom-testi-bg {
 
    padding: 40px 0;
        padding-right: 0px;
        padding-left: 0px;
    background-repeat: no-repeat;
}.col-md-12.form-group {
    text-align: center;
}
}






@media only screen and (min-width: 480px) and (max-width: 767px) {
.custom-text-header {
    display: none !important;
}.top-area .text-left {
    text-align: center !important;
}.top-menu {

    display: none !important;

}.wrapper-logo, .search-area {

    margin-bottom: 0 !important;

}
.shopping-cart-link {

    display: none !important;

}.logo-area .text-left {

    text-align: center !important;

}.logo-area-right {

    float: none !important;

}.cusotom-container {

    width: auto !important;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;

}.form-group {

    margin-bottom: 0 !important;
    width: 57%;
    display: inline-block;
    margin-right: 2%;

}.custom-footer-so {

    margin-top: 30px;

}.custom-title {

    margin-bottom: 30px !important;
    text-align: center !important;

}
.custom-footer-logo {

    margin-bottom: 0 !important;

}.footer-two .widget {

    margin-bottom: 20px !important;
    text-align: center !important;

}
.footer-two {

    padding: 50px 0 0px 0 !important;
    background: #000 !important;

}.custom-two-img {

    margin-bottom: 40px;

}.custom-two-img-tet {

    padding-top: 0;
    padding-bottom: 40px;

}.section-padding {

    padding: 40px 0;

}.section-padding {

    display: inline-block;
    width: 100%;

}.custom-image {

    margin-top: 40px;

}
.custom-contact {
    padding-top: 40px !important;
}.custom-padding-beaut {
    padding-top: 0;
}
.custom-height {
    height: 40px !important;
    clear: both;
}.custom-four-img-4, .custom-four-img-5{
    margin-bottom: 40px;
}
.custom-margin-bottom-zero{    margin-bottom: 0;}
.custom-margin-top-zero{    margin-top: 0;}
.single-banner {

    margin-bottom: 0 !important;
}
.custom-three h3 {
    margin-top: 40px !important;
    text-align: left;
}.custom-foure {
    text-align: left;
    margin-top: 40px !important;
}
.custom-foure p {
    margin-bottom: 40px;
}
.custom-padding-fouty{padding-bottom:40px;}
.custom-padding-top{
    padding-top: 40px;
}.custom-section-11 p {padding-top: 0 !important;
    margin-bottom: 40px !important;
}.custom-two-img-mian h3 {
    font-size: 28px !important;
    font-family: 'Lato', sans-serif;
    color: #fff !important;
    font-weight: normal !important;
    line-height: 30px;
    margin: 0 !important;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    text-shadow: 0 2px 2px #000;
}
.custom-slider-product-main {
    padding-bottom: 60px;
    background-size: cover;
}.custom-padding-beaut4 {
    padding-top: 0;
}.custom-input-image input {

    margin-left: 3%;
}
.zoomWrapper {

    width: 100% !important;
    height: 500px !important;
    display: inline-block !important;
    clear: both;

}.zoomContainer {

    display: none !important;

}.cart-info {

    float: left;
    width: 100% !important;
    margin-right: 7% !important;

}
.custom-two-img-single p {

    text-align: left;
    padding-top: 0;

}.custom-two-img-single-heading {

    padding-top: 0;

}.demo_vertical.form-control {
    width: 83% !important;
    margin-left: 20px;
    border: 0 !important;
    background: #fff !important;
    box-shadow: inherit !important;
}.custom-testi-bg {
 
    padding: 40px 0;
        padding-right: 0px;
        padding-left: 0px;
    background-repeat: no-repeat;
}.col-md-12.form-group {
    text-align: center;
}.logo-area .col-md-4 {
    width: 50% !important;
}
.logo-area .col-md-4:first-child {
    display: none !important;
}.logo-area .text-left:last-child {

    text-align: right !important;

}
.custom-login a:last-child {

    margin: 0 !important;

}
.wrapper-logo h1 {
    margin: 0 !important;
    text-align: left !important;
}
}





@media only screen and (min-width: 768px) and (max-width: 959px) {.logo-area .text-left:last-child {

    text-align: right !important;

}.logo-area .text-left:last-child {

    text-align: right !important;

}
.custom-login a:last-child {

    margin: 0 !important;

}.top-area .text-left {
    text-align: center !important;
    width: 100% !important;
}.logo-area .col-md-4 {
    width: 33% !important;
}
    .navbar-default .navbar-nav > li > a {
    color: #0e0e0f !important;
    padding: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 600 !important;
    padding-top: 14px !important;
    padding-bottom: 14px !important;
}
.custom-text-header {
    display: none !important;
}.top-area .text-left {
    text-align: center !important;
}.wrapper-logo, .search-area {

    margin-bottom: 0 !important;

}
.shopping-cart-link {

    display: none !important;

}.logo-area .text-left {

    text-align: center !important;

}.logo-area-right {

    float: none !important;

}.cusotom-container {

    width: auto !important;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;

}.form-group {

    margin-bottom: 0 !important;
    width: 57%;
    display: inline-block;
    margin-right: 2%;

}.custom-footer-so {

    margin-top: 30px;

}.custom-title {

    margin-bottom: 30px !important;
    text-align: center !important;

}
.custom-footer-logo {

    margin-bottom: 0 !important;

}.footer-two .widget {

    margin-bottom: 20px !important;
    text-align: center !important;

}
.footer-two {

    padding: 50px 0 0px 0 !important;
    background: #000 !important;

}.custom-two-img {

    margin-bottom: 40px;

}.custom-two-img-tet {

    padding-top: 0;
    padding-bottom: 40px;

}.section-padding {

    padding: 40px 0;

}.section-padding {

    display: inline-block;
    width: 100%;

}.custom-image {

    margin-top: 40px;

}
.custom-contact {
    padding-top: 40px !important;
}.custom-padding-beaut {
    padding-top: 0;
}
.custom-height {
    height: 40px !important;
    clear: both;
}.custom-four-img-4, .custom-four-img-5{
    margin-bottom: 40px;
}
.custom-margin-bottom-zero{    margin-bottom: 0;}
.custom-margin-top-zero{    margin-top: 0;}
.single-banner {

    margin-bottom: 0 !important;
}
.custom-three h3 {
    margin-top: 40px !important;
    text-align: left;
}.custom-foure {
    text-align: left;
    margin-top: 40px !important;
}
.custom-foure p {
    margin-bottom: 40px;
}
.custom-padding-fouty{padding-bottom:40px;}
.custom-padding-top{
    padding-top: 40px;
}.custom-section-11 p {padding-top: 0 !important;
    margin-bottom: 40px !important;
}.custom-two-img-mian h3 {
    font-size: 28px !important;
    font-family: 'Lato', sans-serif;
    color: #fff !important;
    font-weight: normal !important;
    line-height: 30px;
    margin: 0 !important;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    text-shadow: 0 2px 2px #000;
}
.custom-slider-product-main {
    padding-bottom: 60px;
    background-size: cover;
}.custom-padding-beaut4 {
    padding-top: 0;
}.custom-input-image input {

    margin-left: 3%;
}
.zoomWrapper {

    width: 100% !important;
    height: 500px !important;
    display: inline-block !important;
    clear: both;

}.zoomContainer {

    display: none !important;

}.cart-info {

    float: left;
    width: 100% !important;
    margin-right: 7% !important;

}
.custom-two-img-single p {

    text-align: left;
    padding-top: 0;

}.custom-two-img-single-heading {

    padding-top: 0;

}.demo_vertical.form-control {
    width: 83% !important;
    margin-left: 20px;
    border: 0 !important;
    background: #fff !important;
    box-shadow: inherit !important;
}.custom-testi-bg {
 
    padding: 40px 0;
        padding-right: 0px;
        padding-left: 0px;
    background-repeat: no-repeat;
}.col-md-12.form-group {
    text-align: center;
}
}

 
.shop {
  position: relative;
  z-index: 5;
}

.shop__header {
  box-sizing: border-box;
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 15px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.shop__products {
  padding-top: 70px;
}

.shop__title {
  display: block;
  margin: 0;
  float: left;
  
  font-size: 30px;
  line-height: 40px;
}

.shop__text {
  display: block;
  padding: 0;
  margin: 0;
  float: right;
  
  .button {
    padding: 10px 15px;
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0 20px 20px;
}

.products__item {
  width: 290px;
}

.product {
  background: #FFF;
  padding: 30px 15px;
  margin: 0 20px 20px 0;
  border-radius: 5px;
  text-align: center;
}

.product__title {
  font-weight: bold;
  font-size: 20px;
  margin: 0 0 15px 0;
}

.product__text {
  margin: 0;
}

.button {
  display: inline-block;
  background: #39C;
  padding: 5px 10px;
  border-radius: 3px;
  
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  color: #FFF;
}

.button--light {
  background: #FFF;
  color: #F00;
}

.cart {
  position: fixed;
  background: #fff;
  width: 27%;
  max-width: 90%;
  height: 100%;
  top: 175px;
  right: 0;
  /*box-shadow: -2px 0 4px rgba(0, 0, 0, 0.2);*/
  overflow: hidden;
  transform: translate(500px, 0);
  transition: transform $speed ease-in-out;
  z-index: 9999;
}

body.open .cart {
  transform: translate(0, 0);
}

.cart__header {
  box-sizing: border-box;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 15px 15px;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
 /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);*/
  
  .cart__text {
    float: right;
  }
}

.cart__title {
  font-size: 20px;
  line-height: 40px;
  margin: 0;
  float: left;
}

.cart__products {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 70px 0;
  overflow-x: hidden;
  /*overflow-y: scroll;*/
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  
  article {
    padding: 15px;
    border-bottom: 1px dotted #CCC;
    
    h1 {
      font-size: 16px;
      line-height: 20px;
      margin: 0;
    }
    
    p {
      font-size: 14px;
      margin: 0;
      
      a {
        color: #F00
      }
    }
  }
}

.cart__product {
  display: none;
}

.cart__empty {
  padding: 30px 15px;
  margin: 0;
  font-style: italic;
  text-align: center;
  
  &.hide {
    display: none;
  }
}

.cart__footer {
  box-sizing: border-box;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 15px;
  left: 0;
  bottom: 0;
  z-index: 2;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
  text-align: right;
}

.cart__text {
  margin: 0;
  
  .button {
    padding: 10px 15px;
  }
}

.lightbox {
  position: fixed;
  background: #000;
  width: 0;
  height: 100%;
  top: 175px;
  left: 0;
  z-index: 9998;
  opacity: 0;
  transition: opacity $speed ease-in-out, width 0ms ease-in-out $speed;
}

body.open .lightbox {
  width: 100%;
  opacity: 0.8;
  transition: opacity $speed ease-in-out, width 0ms ease-in-out;
}
#pass-status{
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}