

@media only screen and (min-width: 992px) and (max-width: 1280px) {}

/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .wrapper-logo,
    .search-area {
        margin-bottom: 50px;
    }
    .shopping-cart-link > ul,
    .wishlist-link > ul {
        left: 0;
    }
    .blog-text {
        top: 0;
        left: 0;
    }
    .blog-slider.owl-theme:hover .owl-controls .owl-buttons div.owl-next {
        right: -20px;
    }
    .list-img {
        margin: 0 0 30px;
    }
    .woocommerce-ordering {
        margin-right: 0;
    }
    footer .widget:not(:last-child) {
        margin-bottom: 40px;
    }
    .woocommerce-pagination .pagination > li > a,
    .woocommerce-pagination .pagination > li > span {
        margin: 0 2px;
    }
    .sidebar-widget:last-child {
        margin-bottom: 40px;
    }
    .single-features {
        margin-bottom: 30px;
    }
    .single-zoom-thumb {
        margin-bottom: 30px;
    }
    #accordion.panel-group {
        margin-bottom: 30px;
    }
    .single-about-us-features {
        margin-bottom: 30px;
    }
    .single-address {
        margin-top: 30px;
    }
    .blog-pagination {
        margin-bottom: 30px;
    }
    .single-image-gallery a {
        width: 323px;
    }
}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    .sticky-wrapper {
        height: 0 !important;
    }
    .wrapper-logo,
    .search-area {
        margin-bottom: 50px;
    }
    .top-menu {
        text-align: left;
    }
    .label-hot::before,
    .label-new::before {
        padding: 4px 18px;
        line-height: 40px;
        bottom: 0;
    }
    .single-slide-item h2,
    .single-promo-content h2 {
        font-size: 16px;
        margin: 0;
    }
    .single-slide-item p,
    .single-promo-content p {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .btn-home-slider {
        padding: 4px 16px;
        font-size: 12px;
    }
    .prev,
    .next {
        -webkit-transform: translateY(-0%);
        -moz-transform: translateY(-0%);
        -o-transform: translateY(-0%);
        -ms-transform: translateY(-0%);
        transform: translateY(-0%);
    }
    .shopping-cart-link > ul,
    .wishlist-link > ul {
        left: 0;
    }
    .product-quick-view-image {
        margin-bottom: 30px;
    }
    .blog-text {
        top: 0;
        left: 0;
    }
    footer .widget:not(:last-child) {
        margin-bottom: 40px;
    }
    .footer-menu ul,
    .footer-menu img {
        float: left;
    }
    footer .copyright-text p {
        margin-bottom: 40px;
    }
    .feaproduct-carousel.owl-theme:hover .owl-controls .owl-buttons div.owl-prev,
    .product-quick-view-slider.owl-theme:hover .owl-controls .owl-buttons div.owl-prev,
    .client-testimonial.owl-theme:hover .owl-controls .owl-buttons div.owl-prev,
    .blog-slider.owl-theme:hover .owl-controls .owl-buttons div.owl-prev {
        left: 0;
    }
    .feaproduct-carousel.owl-theme:hover .owl-controls .owl-buttons div.owl-next,
    .product-quick-view-slider.owl-theme:hover .owl-controls .owl-buttons div.owl-next,
    .client-testimonial.owl-theme:hover .owl-controls .owl-buttons div.owl-next .blog-slider.owl-theme:hover .owl-controls .owl-buttons div.owl-next {
        right: 0;
    }
    .visitors-popup .modal-dialog {
        width: auto;
    }
    .product-quick-view .modal-dialog {
        width: auto;
    }
    .page-heading h2 {
        margin: 40px 0 10px 0;
    }
    .page-heading h2,
    .page-breadcrumb {
        text-align: center;
    }
    .portfolio-filter-menu ul li {
        padding: 5px 15px;
    }
    .woocommerce-pagination {
        float: left;
    }
    .list-text .add-to-cart-btn {
        margin-right: 4px;
    }
    .sidebar-widget:last-child {
        margin-bottom: 40px;
    }
    .single-features {
        margin-bottom: 30px;
    }
    .stepwizard-step .btn-circle {
        width: 50px;
        height: 50px;
        line-height: 46px;
    }
    .single-zoom-thumb {
        margin-bottom: 30px;
    }
    #accordion.panel-group {
        margin-bottom: 30px;
    }
    .about-us-left,
    .single-about-us-features {
        margin-bottom: 30px;
    }
    .single-address {
        margin-top: 30px;
    }
    .blog-post-share {
        margin-bottom: 20px;
    }
    .blog-pagination {
        margin-bottom: 30px;
    }
    .blog-pn-btn {
        float: none !important;
    }
    .blog-pagination .woocommerce-pagination {
        margin: 20px 0;
    }
    .blog-link-format a {
        font-size: 14px;
    }
    .single-image-gallery a {
        width: auto;
    }
	.list-img {
	   margin: 0 0 30px;
    }
	.chat-window {
	  display: none;
   }
}

/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {}