{{ header }}
<div id="account-account" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h2 class="text-center"><span class="custom-bg-img">Designer Form</span></h2>
      <div class="container">
       
       <form method="post" enctype="multipart/form-data" action="{{ action }}">
        <div class="form-group">
          <label class="col-sm-3">Social Link <i class="fa fa-twitter"></i> <i class="fa fa-instagram"></i></label>
          <div class="col-sm-3">
            <input type="text" name="fb_link" class="form-control" placeholder="Facebook Link" value="{% if collection_data[0].fb_link is defined %}{{ collection_data[0].fb_link }}{% endif %}">
          </div>
          <div class="col-sm-3">
            <input type="text" name="tw_link" class="form-control" placeholder="Twitter Link" value="{% if collection_data[0].tw_link is defined %}{{ collection_data[0].tw_link }}{% endif %}">
          </div>
          <div class="col-sm-3">
            <input type="text" name="insta_link" class="form-control" placeholder="Instagram Link" value="{% if collection_data[0].insta_link is defined %}{{ collection_data[0].insta_link }}{% endif %}">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2">About the Designer</label>
          <div class="col-sm-10">
            <textarea name="about_text" class="form-control" rows="4">{{ collection_data[0].about_text }}</textarea>
          </div>
        </div>
<div class="col-sm-2 imgUp">
    <div class="imagePreview">{% if collection_data[0].profile_image is defined %}<img width="160" height="180" src="image/{{collection_data[0].profile_image}}"> {% endif %}</div>
<label class="btn btn-primary">
   {% if collection_data[0].profile_image is defined %}Change<input name="profile" type="file" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
        <input type="hidden" name="profile_exist" value="{{ collection_data[0].profile_image }}">

    {% else %}Upload<input name="profile" type="file" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">{% endif %}
        </label>
  </div>

{% set counter = 0 %}
{% for collection in collection_data %}
        <div class="form-group">
          <label class="col-sm-2">Collection Name</label>
          <div class="col-sm-10">
            <input type="text" name="collection[{{ counter }}][name]" value="{{ collection.name }}" class="form-control" placeholder="Collection Name">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2">Collection overview</label>
          <div class="col-sm-10">
            <textarea  name="collection[{{ counter }}][overview]" rows="4" class="form-control" placeholder="Collection overview">{{ collection.overview }}</textarea>
          </div>
        </div>
        
  <div class="row">
    <label class="col-sm-2">Past Collection</label>

  <div class="col-sm-12">
  <div class="col-sm-2 imgUp">
    <div class="imagePreview"><img src="image/{{collection.image}}" alt="{{ collection.name }}" width="160" height="180"></div>
<label class="btn btn-primary">
   Change<input name="collection_image[]" type="file" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
        </label>
        <input type="hidden" name="collection_image_exist[]" value="{{ collection.image }}">
  </div><!-- col-2 -->
  </div><!-- col-10 -->
 </div><!-- row -->
 {% set counter = counter+1 %}
 {% endfor %}
 {% if collection_data is defined %}
 <div class="row">
    

 
  <i data-count="{{ counter-1 }}" class="fa fa-plus imgAdd"></i>
 </div>
 {% else %}
<div class="row">
    <label class="col-sm-2">Past Collection</label>

  <div class="col-sm-12">
  <div class="col-sm-2 imgUp">
    <div class="imagePreview"></div>
<label class="btn btn-primary">
   Upload<input name="collection_image[]" type="file" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
        </label>
  </div><!-- col-2 -->
  </div><!-- col-10 -->
 </div><!-- row -->
 {% endif %}
<div class="form-group">
  <div class="col-sm-6 pull-right">
  <input type="submit" class="btn btn-primary" name="collection_submit" value="Update Now">
</div>
</div>
</form>
</div><!-- container -->
      {{ content_bottom }}</div>
    <!-- {{ column_right }} --></div>
</div>
<style>
.imagePreview {
    width: 100%;
    height: 180px;
    background-position: center center;
  background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
  background-color:#fff;
    background-size: cover;
  background-repeat:no-repeat;
    display: inline-block;
  box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
}
.btn-primary
{
  display:block;
  border-radius:0px;
  box-shadow:0px 4px 6px 2px rgba(0,0,0,0.2);
  margin-top:-5px;
}
.imgUp
{
  margin-bottom:15px;
}
.del
{
  position:absolute;
  top:0px;
  right:15px;
  width:30px;
  height:30px;
  text-align:center;
  line-height:30px;
  background-color:rgba(255,255,255,0.6);
  cursor:pointer;
}
.imgAdd
{
  width:30px;
  height:30px;
  border-radius:50%;
  background-color:#4bd7ef;
  color:#fff;
  box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
  text-align:center;
  line-height:30px;
  margin-top:0px;
  cursor:pointer;
  font-size:15px;
}
  </style>
  <script>
$(".imgAdd").click(function(){
  var count=$(".imgAdd").attr('data-count');
  count++;
  $(this).closest(".row").find('.imgAdd').before('<div id="row'+count+'"><div class="form-group"><label class="col-sm-2">Collection Name</label><div class="col-sm-10"><input type="text" name="collection['+count+'][name]" value="" class="form-control" placeholder="Collection Name"></div></div><div class="form-group"><label class="col-sm-2">Collection overview</label><div class="col-sm-10"><textarea  name="collection['+count+'][overview]" rows="4" class="form-control" placeholder="Collection overview"></textarea></div></div><div class="col-sm-12"><div class="col-sm-2 imgUp"><div class="imagePreview"></div><label class="btn btn-primary">Upload<input type="file" name="collection_image[]" class="uploadFile img" value="Upload Photo" style="width:0px;height:0px;overflow:hidden;"></label></div><i style="cursor:pointer;" class="fa fa-times fa-2x del'+count+'"></i></div></div>');
  $(".imgAdd").attr('data-count',count);
  $(document).on("click", "i.del"+count , function() {
  $("#row"+count).remove();
});
});

$(function() {
    $(document).on("change",".uploadFile", function()
    {
        var uploadFile = $(this);
        var files = !!this.files ? this.files : [];
        if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support
 
        if (/^image/.test( files[0].type)){ // only image file
            var reader = new FileReader(); // instance of the FileReader
            reader.readAsDataURL(files[0]); // read the local file
 
            reader.onloadend = function(){ // set image data as background of div
                //alert(uploadFile.closest(".upimage").find('.imagePreview').length);
uploadFile.closest(".imgUp").find('.imagePreview').css("background-image", "url("+this.result+")");
            }
        }
      
    });
});
</script>
{{ footer }}