<!---<div class="panel panel-default hidden">
  <div class="panel-heading">{{ heading_title }}</div>
  <div class="list-group"> {% for filter_group in filter_groups %} <a class="list-group-item">{{ filter_group.name }}</a>
    <div class="list-group-item">
      <div id="filter-group{{ filter_group.filter_group_id }}">{% for filter in filter_group.filter %}
        <div class="checkbox">
          <label>{% if filter.filter_id in filter_category %}
            <input type="checkbox" name="filter[]" value="{{ filter.filter_id }}" checked="checked" />
            {{ filter.name }}
            {% else %}
            <input type="checkbox" name="filter[]" value="{{ filter.filter_id }}" />
            {{ filter.name }}
            {% endif %}</label>
        </div>
        {% endfor %}</div>
    </div>
    {% endfor %}</div>
  <div class="panel-footer text-right">
    <button type="button" id="button-filter" class="btn btn-primary">{{ button_filter }}</button>
  </div>
</div>--->


  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
 

  <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingAB">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseAB" aria-expanded="true" aria-controls="collapseAB" class="collapse">
            <i class="more-less glyphicon glyphicon-minus"></i>
           <b>Designers</b>
          </a>
        </h4>
      </div>
      <div id="collapseAB" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingAB">
        <div class="panel-body">
            {% for manufacturer in manufacturers %}
        <div class="checkbox">
          <label>
           
            <input type="checkbox" name="manufacturer[]" value="{{ manufacturer.manufacturer_id }}" />
            {{ manufacturer.name }}
           </label>
        </div>
        {% endfor %}
<hr>
        </div>
      </div>
    </div>

 
 {% for filter_group in filter_groups %}
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading{{ filter_group.filter_group_id }}">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ filter_group.filter_group_id }}" aria-expanded="true" aria-controls="collapse{{ filter_group.filter_group_id }}" class="collapse">
            <i class="more-less glyphicon glyphicon-minus"></i>
           <b>{{ filter_group.name }}</b>
          </a>
        </h4>
      </div>
      <div id="collapse{{ filter_group.filter_group_id }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ filter_group.filter_group_id }}">
        <div class="panel-body">
           {% for filter in filter_group.filter %}
        <div class="checkbox">
          <label>{% if filter.filter_id in filter_category %}
            <input type="checkbox" name="filter[]" value="{{ filter.filter_id }}" checked="checked" />
            {{ filter.name }}
            {% else %}
            <input type="checkbox" name="filter[]" value="{{ filter.filter_id }}" />
            {{ filter.name }}
            {% endif %}</label>
        </div>
        {% endfor %}
<hr>
        </div>
      </div>
    </div>
{% endfor %}
<div class="panel-footer text-right">
    <button type="button" id="button-filter" class="btn news-btn">{{ button_filter }}</button>
  </div>
  </div><!-- panel-group -->
  
  <style>
/*******************************
* ACCORDION WITH TOGGLE ICONS
* Does not work properly if "in" is added after "collapse".
*******************************/
  .panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
  }

  .panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
  }

  .panel-title {
    font-size: 14px;
  }

  .panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
  }

  .more-less {
    float: right;
    color: #212121;
  }

  .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
  }
.panel-footer{
  background:#fff !important;
}
  </style>
  <script>
  /*******************************
* ACCORDION WITH TOGGLE ICONS
*******************************/
  function toggleIcon(e) {
        $(e.target)
            .prev('.panel-heading')
            .find(".more-less")
            .toggleClass('glyphicon-plus glyphicon-minus');
    }
    $('.panel-group').on('hidden.bs.collapse', toggleIcon);
    $('.panel-group').on('shown.bs.collapse', toggleIcon);
  </script>
  <script type="text/javascript"><!--
$('#button-filter').on('click', function() {
  filter = [];

  $('input[name^=\'filter\']:checked').each(function(element) {
    filter.push(this.value);
  });

  location = '{{ action }}&filter=' + filter.join(',');
});
//--></script> 
