<div  class="section-padding">
  <div class="cusotom-container">
    <div class="row text-center">
      <div class="section-title">
        <h2><span class="custom-bg-img">Popular Styles with Silk</span></h2>
       
      </div>
        
    <p>{{ module_fashion_description_3 }}</p>
    <div class="custom-height"> </div>
      <!-- END SECTION TITLE -->
      {% for popular in populars %}
      <div class="col-md-4 col-sm-6">
        <div class="custom-two-img"> <img src="{{ popular.image }}" alt="{{ popular.name }}">
          <h3>{{ popular.name }}</h3>
          <a  href="{{ popular.href }}" class="custom-btn">read more</a> </div>
      </div>
      {% endfor %}
      
    </div>
    <!-- END ROW --> 
  </div>
</div>