<div  class="section-padding" style="padding-top:0;">
  <div class="">
    <div class="row text-center">
    <div class="regular1 slider">
  {% for banner in banners %}
  <div>

    <div class="custom-slider-product-main" style="background-image:url('{{ banner.image }}');background-size:contain;">
      <div class="custom-two-img-mian">
        <h3>{{ banner.title }}</h3>
        <a {% if banner.link %} href="{{ banner.link }}" {% else %} href="#" {% endif %}  class="custom-btn-main">read more</a> </div>
    </div> 
    
  </div>
  {% endfor %}
  
</div>

    </div>
    <!-- END ROW --> 
  </div>
</div>
<!--end-->
<div class="swiper-viewport hidden">
  <div id="slideshow{{ module }}" class="swiper-container">
    <div class="swiper-wrapper"> {% for banner in banners %}
      <div class="swiper-slide text-center">{% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />{% endif %}</div>
      {% endfor %} </div>
  </div>
  <div class="swiper-pagination slideshow{{ module }}"></div>
  <div class="swiper-pager">
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
<script type="text/javascript"><!--
$('#slideshow{{ module }}').swiper({
	mode: 'horizontal',
	slidesPerView: 1,
	pagination: '.slideshow{{ module }}',
	paginationClickable: true,
	nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    spaceBetween: 30,
	autoplay: 2500,
    autoplayDisableOnInteraction: true,
	loop: true
});
--></script>

<script type="text/javascript">
    $(document).on('ready', function() {
      $(".regular").slick({
        dots: false,
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 1,
                arrows: true,
                  autoplay: true,
                    autoplaySpeed: 2000,
                    responsive: [
      {
        breakpoint: 500,
        settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        }
      }
    ]        
      });
      
            $(".regular1").slick({
        dots: true,
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
                arrows: false,
                  autoplay: true,
                    autoplaySpeed: 3000
      });
           $(".regular2").slick({
        dots: true,
        infinite: true,
        slidesToShow: 4,
        slidesToScroll: 1,
                arrows: false,
                  autoplay: true,
                    autoplaySpeed: 3000,
                    responsive: [
      {
        breakpoint: 500,
        settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        }
      }
    ]        
      });
      $(".regular4").slick({
        dots: false,
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
                arrows: true,
                  autoplay: true,
                    autoplaySpeed: 9000
      });
    $(".regular5").slick({
        dots: false,
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
                arrows: false,
                  autoplay: true,
                    autoplaySpeed: 9000
      });
     
    });
</script>