{{ header }}
<div id="information-madetoorder" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      

     <div  class="section-padding">
  <div class="cusotom-container">
    <div class="row text-center">
      <div class="section-title">
        <h2><span class="custom-bg-img">Personal styling is the new way to shop,<br>and we make it simple </span></h2>
      </div>
      <!-- END SECTION TITLE -->
      
      
       <div id="gallery" style="display:none;">
{% for gallery_data in getMadeToOrderGallery %}
    <a href="{{ gallery_data.link }}">
    <img alt="{{ gallery_data.title }}"
         src="image/{{ gallery_data.image }}"
         data-image="image/{{ gallery_data.image }}"
         data-description="{{ gallery_data.title }}"
         style="display:none">
    </a>
   {% endfor %}

       
  </div>
      <div class="custom-height1" style="height: 100px;"> </div>
      <div class="col-md-1 col-sm-6"></div>
      <div class="col-md-10 col-sm-6">
      <div class="custom-testi">
     <div class="custom-full-width"> <span> Customize your own style and design that<br> suits you best </span></div>
      </div>
      </div>
      <div class="col-md-1 col-sm-6"></div>
    </div>
    <!-- END ROW --> 
  </div>
</div>

<div  class="section-padding">
  <div class="cusotom-container">
    <div class="row text-center">
      <div class="section-title">
        <h2><span class="custom-bg-img">How it works </span></h2>
      </div>
      <!-- END SECTION TITLE -->
      <div class="col-md-5 col-sm-6 custom-one" >
        <div class="custom-two-img-how custom-left-img"> 
        
       <h3>FILL OUT YOUR STYLE PROFILE<img src="catalog/view/javascript/assets/img/one.png"></h3>
       
       <p>Share your fit and style preferences  and set the price rangethat suits your lifestyle—you're in charge.</p>
           </div>
      </div>
      <div class="col-md-3 col-sm-6" >
        
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="custom-two-img-how-text"> <img src="catalog/view/javascript/assets/img/styel-3.png"> </div>
      </div>    
          <div class="custom-height"> </div>
              <div class="col-md-4 col-sm-6">
        <div class="custom-two-img-how-text"> <img src="catalog/view/javascript/assets/img/5.png"> </div>
      </div>
          <div class="col-md-3 col-sm-6" >
        
      </div>
      <div class="col-md-5 col-sm-6 custom-two" >
        <div class="custom-two-img-how custom-right-img"> 
        
       <h3>WE PAIR YOU WITH AN EXPERT STYLIST<img src="catalog/view/javascript/assets/img/two.png"></h3>
       
       <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
           </div>
      </div>  
      <!---->
      <div class="custom-height"> </div>
            <div class="col-md-5 col-sm-6 custom-one" >
        <div class="custom-two-img-how custom-left-img"> 
        
       <h3>CHOOSING YOUR FABRIC<img src="catalog/view/javascript/assets/img/three.png"></h3>
       
       <p>You have the freedom of buying your own or having the stylist chose the fabric of your preference.</p>
           </div>
      </div>
      <div class="col-md-3 col-sm-6" >
        
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="custom-two-img-how-text"> <img src="catalog/view/javascript/assets/img/8.png"> </div>
      </div>    
          <div class="custom-height"> </div>
              <div class="col-md-4 col-sm-6">
        <div class="custom-two-img-how-text"> <img src="catalog/view/javascript/assets/img/9.png"> </div>
      </div>
          <div class="col-md-3 col-sm-6" >
        
      </div>
      <div class="col-md-5 col-sm-6 custom-two" >
        <div class="custom-two-img-how custom-right-img"> 
        
       <h3>RECEIVE YOUR DREAM CAFTAN<img src="catalog/view/javascript/assets/img/foure.png"></h3>
       
       <p>Your will receive your curated looks sent right to your door. No stress of pick and drop.</p>
           </div>
      </div> 
      
      <div class="custom-height"> </div>
     <p class="custom-black-btn"> <a class="btn-style-2" href="index.php?route=extension/module/match_me_with_designer">match me with a designer</a></p>
    </div>
    <!-- END ROW --> 
  </div>
</div>
<!--end-->


<div  class="section-padding">
  <div class="cusotom-container">
    <div class="row text-center">
      <div class="section-title">
        <h2><span class="custom-bg-img">Testimonials</span></h2>
      </div>
      <div class="row text-center">
        <div class="col-md-12 col-sm-6">
            <div class="regular4 slider">

{% for testimonial in testimonials %}
    <div>
    <div class="customtesti">
    <div class="custom-height"> </div>
   {{ testimonial.description }}
    <div class="custom-name">{{ testimonial.author }}</div>
    <div class="custom-date">{{ testimonial.date_added }}</div>
    </div>
    </div>

    {% endfor %}
          

  </div>
        </div>
        
      </div>
    </div>
    <!-- END ROW --> 
  </div>
</div>
<!--end--> 

       
  
  <script type="text/javascript">

    jQuery(document).ready(function(){

      jQuery("#gallery").unitegallery({
      tiles_type:"justified"
      });

    });
    
  </script>
<script type="text/javascript">
    $(document).on('ready', function() {
     
      $(".regular4").slick({
        dots: false,
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
                arrows: true,
                  autoplay: true,
                    autoplaySpeed: 9000
      });
  
     
    });
</script>
  {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}