{% if 1==0 %}
<div id="cart" class="btn-group btn-block hidden">
  <button type="button" data-toggle="dropdown" data-loading-text="{{ text_loading }}" class="btn btn-inverse btn-block btn-lg dropdown-toggle"><i class="fa fa-shopping-cart"></i> <span id="cart-total">{{ text_items }}</span></button>
  <ul class="dropdown-menu pull-right">
    {% if products or vouchers %}
    <li>
      <table class="table table-striped">
        {% for product in products %}
        <tr>
          <td class="text-center">{% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></a> {% endif %}</td>
          <td class="text-left"><a href="{{ product.href }}">{{ product.name }}</a> {% if product.option %}
            {% for option in product.option %} <br />
            - <small>{{ option.name }} {{ option.value }}</small> {% endfor %}
            {% endif %}
            {% if product.recurring %} <br />
            - <small>{{ text_recurring }} {{ product.recurring }}</small> {% endif %}</td>
          <td class="text-right">x {{ product.quantity }}</td>
          <td class="text-right">{{ product.total }}</td>
          <td class="text-center"><button type="button" onclick="cart.remove('{{ product.cart_id }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></td>
        </tr>
        {% endfor %}
        {% for voucher in vouchers %}
        <tr>
          <td class="text-center"></td>
          <td class="text-left">{{ voucher.description }}</td>
          <td class="text-right">x&nbsp;1</td>
          <td class="text-right">{{ voucher.amount }}</td>
          <td class="text-center text-danger"><button type="button" onclick="voucher.remove('{{ voucher.key }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></td>
        </tr>
        {% endfor %}
      </table>
    </li>
    <li>
      <div>
        <table class="table table-bordered">
          {% for total in totals %}
          <tr>
            <td class="text-right"><strong>{{ total.title }}</strong></td>
            <td class="text-right">{{ total.text }}</td>
          </tr>
          {% endfor %}
        </table>
        <p class="text-right"><a href="{{ cart }}"><strong><i class="fa fa-shopping-cart"></i> {{ text_cart }}</strong></a>&nbsp;&nbsp;&nbsp;<a href="{{ checkout }}"><strong><i class="fa fa-share"></i> {{ text_checkout }}</strong></a></p>
      </div>
    </li>
    {% else %}
    <li>
      <p class="text-center">{{ text_empty }}</p>
    </li>
    {% endif %}
  </ul>
</div>
{% endif %}

 <div id="cart" class="shopping-cart-link"> <a id="cart-link" href="javascript:void(0);"> <img src="image/catalog/cart-icon.png" alt="cart icon"><span  id="cart-total" class="cart-amnt">{{ text_items }}</span> </a>
              <ul>
                <table class="table table-striped">
               {% if products or vouchers %}
                {% for product in products %}
                
                  <tr>
                   <td style="width: 10%">
                  <div class="cart-img"> {% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></a> {% endif %} </div>
                  </td>
                   <td style="width: 80%">
                     <div class="cart-content"><a href="{{ product.href }}">
                    <h3>{{ product.name }} {% if product.option %}
                       {% for option in product.option %} <br />
                       - <span><b> {{ option.name }} {{ option.value }}</b></span> {% endfor %}
                      {% endif %}
                       {% if product.recurring %} <br />
                      - <small>{{ text_recurring }} {{ product.recurring }}</small> {% endif %}</h3>
                    </a>  <span class="cart-price">{{ product.price }} </span> </div></td>
                     <td style="width: 10%"> <div class="cart-del"> <i onclick="removeCartItem('{{ product.cart_id }}')" class="icofont icofont-close"></i> </div></td>
                  </tr>
           
                {% endfor %}
                 
                {% for total in totals %}
               
                  <tr>
                   <div class="shipping">  
                    <td style="width: 60%"> <span class="pull-left">{{ total.title }} </span></td><td> <span class="pull-right cart-price"> {{ total.text }}</span></td> </div>
                  </tr>
               
                  
              
              {% endfor %}
              <tr>
               <td class="checkout"> <a class="btn-success" href="{{ checkout }}">{{  text_checkout }}</a> </td>
               <td class="checkout"> <a class="btn-danger" href="{{ cart }}">{{ text_cart }}</a> </td>
              </tr>
        {% else %}
    <li>
      <p class="text-center">{{ text_empty }}</p>
    </li>
    {% endif %}
  </table>
  <script type="text/javascript">
    function removeCartItem(cart_id){
      if(confirm("Are you sure?")){
cart.remove(cart_id);
      }else{
        return false;
      }
    }
  </script>
              </ul>
            </div>
