{% if currencies|length >= 1 %}
<div class="pull-left">
  <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-currency">
    <div class="btn-group hidden">
      <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">{% for currency in currencies %}
      {% if currency.symbol_left and currency.code == code %} <strong>{{ currency.symbol_left }}</strong> {% elseif currency.symbol_right and currency.code == code %} <strong>{{ currency.symbol_right }}</strong> {% endif %}
      {% endfor %} <span class="hidden-xs hidden-sm hidden-md">{{ text_currency }}</span>&nbsp;<i class="fa fa-caret-down"></i></button>
      <ul class="dropdown-menu">
        {% for currency in currencies %}
        {% if currency.symbol_left %}
        <li>
          <button class="currency-select btn btn-link btn-block" type="button" name="{{ currency.code }}">{{ currency.symbol_left }} {{ currency.title }}</button>
        </li>
        {% else %}
        <li>
          <button class="currency-select btn btn-link btn-block" type="button" name="{{ currency.code }}">{{ currency.symbol_right }} {{ currency.title }}</button>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>

    <li class="dropdown"><a href="#"><i class="icofont icofont-simple-down"></i>{% for currency in currencies %}
      {% if currency.symbol_left and currency.code == code %} <strong>{{ currency.symbol_left }}  {{ currency.title }}</strong> {% elseif currency.symbol_right and currency.code == code %} <strong>{{ currency.symbol_right }}  {{ currency.title }}</strong> {% endif %}
      {% endfor %}</a>
                <ul class="dropdown-menu custom-drop">
                {% for currency in currencies %}
        {% if currency.symbol_left %}
                  <li><a class="currency-select" name="{{ currency.code }}" href="#"> {{ currency.symbol_left }} {{ currency.title }}</a> </li>
                   {% else %}
                   <li><a class="currency-select" name="{{ currency.code }}" href="#"> {{ currency.symbol_right }} {{ currency.title }}</a> </li>
                    {% endif %}
        {% endfor %}
                </ul>
              </li>
              


    <input type="hidden" name="code" value="" />
    <input type="hidden" name="redirect" value="{{ redirect }}" />
  </form>
  <script type="text/javascript">
    $('.currency-select').click(function(){
      $("#form-currency").submit();
    });
  </script>
</div>
{% endif %} 