<footer>


  <div class="container hidden">

    <div class="row">
      {% if informations %}
      <div class="col-sm-3">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="col-sm-3">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p>{{ powered }}</p>
  </div>
  </div>
  </div>
 <div class="cusotom-bg-full">
  <div class="cusotom-container-newsletter">
    <div class="row">
      <div class="col-md-8 col-sm-6">
      <div class="custom-title"><h3>subscribe to our newsletter</h3></div>
        <form id="subs_form" action="#" method="post">
                <div class="form-group">
                  <input type="email" id="subscriber_email" required name="email" class="form-control" placeholder="Enter Your Email Address"> 
                </div>
                <button type="button" onclick="subscribe()" class="btn news-btn">Subscribe</button>
              </form>
      </div>
            <div class="col-md-4 col-sm-6 custom-footer-so">
                  <div class="custom-title"><h3>Follow barnoz</h3></div>
                  <div class="custom-about-social">
                <ul>
                  <li><a target="_blank" href="{{ fb }}"><i class="icofont icofont-social-facebook"></i></a>
                  </li>
                  <li><a target="_blank" href="{{ tw }}"><i class="icofont icofont-social-twitter"></i></a>
                  </li>
                  <li><a target="_blank" href="{{ ins }}"><i class="icofont icofont-social-instagram"></i></a>
                  </li>
                </ul>
              </div>
        
      </div>
      
    </div>
    <!-- END ROW --> 
  </div>
</div>
  <!--Footer Two -->
  <div class="footer-two">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12 widget">
          <div class="custom-footer-logo"> <img src="catalog/view/javascript/assets/img/barnoz-footer-logo.png"> </div>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12 widget"> </div>
        <div class="col-md-2 col-sm-6 col-xs-12 widget">
          <div class="widget-title col-sm-12 no-padding">
            <h2>About Us</h2>
          </div>
          <!-- END SECTION TITLE -->
          <ul class="quick-link-list">
            <li><a href="index.php?route=information/information&information_id=7">The Idea</a> </li>
            <li><a href="index.php?route=information/information&information_id=8">The Story</a> </li>
            <li><a href="index.php?route=information/information&information_id=9"> The Founder</a> </li>
          </ul>
        </div>
        <!-- End Widget -->
        <div class="col-md-2 col-sm-6 col-xs-12 widget">
          <div class="widget-title col-sm-12 no-padding">
            <h2>Designers</h2>
          </div>
          <!-- END SECTION TITLE -->
          <ul class="quick-link-list">
            <li><a href="index.php?route=designer/designer_request">Request Membership</a> </li>
          </ul>
        </div>
        <!-- End Widget -->
        <div class="col-md-2 col-sm-6 col-xs-12 widget">
          <div class="widget-title col-sm-12 no-padding">
            <h2>CUSTOMER CARE</h2>
          </div>
          <!-- END SECTION TITLE -->
          <ul class="quick-link-list">
            <li><a href="index.php?route=information/contact">Contact Us</a> </li>
            <li><a href="{{ faq }}">FAQ</a> </li>
          </ul>
        </div>
        <!-- End Widget -->
        <div class="col-md-2 col-sm-6 col-xs-12 widget">
          <div class="widget-title col-sm-12 no-padding">
            <h2>LEGAL</h2>
          </div>
          <!-- END SECTION TITLE -->
          <ul class="quick-link-list">
            <li><a href="index.php?route=information/information&information_id=5">Terms & Conditions</a> </li>
            <li><a href="index.php?route=information/information&information_id=3">Privacy & Cookies Policy</a> </li>
          </ul>
        </div>
        <!-- End Widget -->
        <div class="col-md-2 col-sm-6 col-xs-12 widget"> </div>
        <!-- End Widget --> 
      </div>
    </div>
  </div>
  
  <!--Footer Bottom -->
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12 copyright-text">
          <p>Al Rights Reserved by BArnoz</p>
        </div>
      </div>
    </div>
  </div>
</footer>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!-- Latest jQuery --> 
<!-- Latest compiled and minified Bootstrap --> 
<script src="catalog/view/javascript/assets/bootstrap/js/bootstrap.min.js"></script> 
<!-- modernizer JS --> 
<script src="catalog/view/javascript/assets/js/modernizr-2.8.3.min.js"></script> 
<!-- cookie JS --> 
<script src="catalog/view/javascript/assets/js/jquery.cookie.js"></script> 
<!-- meanmenu min js  --> 
<script src="catalog/view/javascript/assets/js/jquery.meanmenu.min.js"></script> 
<!-- Sticky JS --> 
<script src="catalog/view/javascript/assets/js/jquery.sticky.js"></script> 
<!-- owl-carousel min js  --> 
<script src="catalog/view/javascript/assets/owlcarousel/js/owl.carousel.min.js"></script> 
<!-- jquery mixitup js --> 
<script src="catalog/view/javascript/assets/js/jquery.mixitup.min.js"></script> 
<!-- venobox js --> 
<script src="catalog/view/javascript/assets/venobox/js/venobox.min.js"></script> 
<!--  touchspin js --> 
<script src="catalog/view/javascript/assets/js/jquery.bootstrap-touchspin.js"></script> 
<!--  price slider js --> 
<script src="catalog/view/javascript/assets/js/jquery-ui.min.js"></script> 
<!--  elevateZoom js  --> 
<script src="catalog/view/javascript/assets/js/jquery.elevateZoom-3.0.8.min.js"></script> 
<!--  jquery.bxslider.min.js --> 
<script src="catalog/view/javascript/assets/js/jquery.bxslider.min.js"></script> 
<!-- scroll to top js --> 
<script src="catalog/view/javascript/assets/js/scrolltopcontrol.js"></script> 
<!-- Main Script --> 
<script src="catalog/view/javascript/assets/js/main.js"></script>
  <script src="catalog/view/javascript/slick/slick.js" type="text/javascript" charset="utf-8"></script>
  <script src="catalog/view/javascript/common.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).on('ready', function() {
      $(".regular").slick({
        dots: false,
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 1,
                arrows: true,
                  autoplay: true,
                    autoplaySpeed: 2000,
                    responsive: [
      {
        breakpoint: 500,
        settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        }
      }
    ]        
      });
      
            $(".regular1").slick({
        dots: true,
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
                arrows: false,
                  autoplay: true,
                    autoplaySpeed: 3000
      });
           $(".regular2").slick({
        dots: true,
        infinite: true,
        slidesToShow: 4,
        slidesToScroll: 1,
                arrows: false,
                  autoplay: true,
                    autoplaySpeed: 3000,
                    responsive: [
      {
        breakpoint: 500,
        settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        }
      }
    ]        
      });
      $(".regular4").slick({
        dots: false,
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
                arrows: true,
                  autoplay: true,
                    autoplaySpeed: 9000
      });
    $(".regular5").slick({
        dots: false,
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
                arrows: false,
                  autoplay: true,
                    autoplaySpeed: 9000
      });
     
    });
</script>
  <script type="text/javascript">
   setTimeout(function(){ 
    $("#slick-slide16").remove();

}, 4000);

function subscribe(){


$.ajax({
  type: "post",
  url: "index.php?route=extension/module/pavnewsletter/subs",
  data: $('input[name=email]'),
  dataType: "json",
  cache: false,
  success:function(data){
    if(!data.success){
    alert(data.error);
    }else{
    alert(data.success);
    }
  }
});

}
  </script>
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>