<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}

<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js"></script> 
<script src="catalog/view/javascript/assets/js/jquery-ui.js"></script>
<link rel="stylesheet" href="catalog/view/javascript/assets/bootstrap/css/bootstrap.min.css">
<!-- Google Font -->
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
<!-- Icofont CSS -->
<link rel="stylesheet" href="catalog/view/javascript/assets/fonts/icofont.css">
<!--- meanmenu Css-->
<link rel="stylesheet" href="catalog/view/javascript/assets/css/meanmenu.min.css" media="all" />
<!-- animate CSS -->
<link rel="stylesheet" href="catalog/view/javascript/assets/css/animate.css" type="text/css">
<!--- owl carousel Css-->
<link rel="stylesheet" href="catalog/view/javascript/assets/owlcarousel/css/owl.carousel.css">
<link rel="stylesheet" href="catalog/view/javascript/assets/owlcarousel/css/owl.theme.css">
<!-- venobox -->
<link rel="stylesheet" href="catalog/view/javascript/assets/venobox/css/venobox.css" />
<!-- touchspin css -->
<link rel="stylesheet" href="catalog/view/javascript/assets/css/jquery.bootstrap-touchspin.css" media="screen">
<!-- price slider css -->
<link rel="stylesheet" href="catalog/view/javascript/assets/css/jquery-ui.min.css" media="screen">
<!-- Style CSS -->
<link rel="stylesheet" href="catalog/view/javascript/assets/css/main.css">
<!-- Responsive  CSS -->
<link rel="stylesheet" href="catalog/view/javascript/assets/css/responsive.css">
<!-- /Custom  CSS -->
<link rel="stylesheet" href="catalog/view/javascript/assets/css/custom.css">
  <link rel="stylesheet" type="text/css" href="catalog/view/javascript/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="catalog/view/javascript/slick/slick-theme.css">

  <script type='text/javascript' src='catalog/view/javascript/unitegallery/js/unitegallery.min.js'></script>  

  <link rel='stylesheet' href='catalog/view/javascript/unitegallery/css/unite-gallery.css' type='text/css' />
  
  <script type='text/javascript' src='catalog/view/javascript/unitegallery/themes/tiles/ug-theme-tiles.js'></script>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


<!-- <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
<link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet"> -->
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
<body>



<!-- START PRELOADER -->
<div id="page-preloader">
  <div id="movingBallG">
    <div class="movingBallLineG"></div>
    <div id="movingBallG_1" class="movingBallG"></div>
    <h4>BARNOZ</h4>
  </div>
</div>
<!-- END PRELOADER --> 

<!-- START HEADER -->
<header class="header-1"> 
  <!-- START TOP AREA -->
  <div class="top-area">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 text-left">
          <div class="custom-phone"> Contact us <a href="tel:{{ telephone }}">{{ telephone }}</a> </div>
        </div>
        <div class="col-md-6 col-sm-4 col-xs-12 text-center">
          <div class="custom-text-header"> {{ header_notice }} </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12 text-right"> </div>
      </div>
    </div>
  </div>
  <!-- END TOP AREA --> 
  
  <!-- START LOGO AREA -->
  <div class="logo-area">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="top-menu">
            <ul>
              <!---<li class="dropdown"><a href="#"><img src="catalog/view/javascript/assets/img/uae-logo.png"> UAE <i class="icofont icofont-simple-down"></i></a>
                <ul class="dropdown-menu custom-drop">
                  <li><a href="#"> <img src="catalog/view/javascript/assets/img/uae-logo.png"> UAE</a> </li>
                  <li><a href="#"><img src="catalog/view/javascript/assets/img/uae-logo.png"> UAE </a> </li>
                </ul>
              </li>---><li>{{ language }}</li>
              <li>{{ currency }} </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12  text-center">
          <div class="wrapper-logo">
           {% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a><br>
<span class="slogan">CONNECTING TO YOU WITH WORLD'S BEST DESIGNERS</span>
           {% else %}
          <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 text-left">
          <div class="logo-area-right"> <div class="custom-login"> 
            {% if logged %}
      <div class="custom-login">  <ul class="list-inline">
        
        <li class="dropdown"><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown"> <span class="hidden-xs hidden-sm hidden-md">{{ text_account }}</span> <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right">
            {% if logged %}
            <li><a href="{{ account }}">Edit {{ text_account }}</a></li>
            <li><a href="{{ address }}">Address Book</a></li>            
            <li><a href="{{ order }}">{{ text_order }}</a></li>
            <li><a href="{{ wishlist }}">Wish List</a></li>
            <li><a href="{{ reward }}">Reward Points</a></li>
            <li><a href="{{ return }}">Returns</a></li>
            <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
            <li><a href="{{ newsletter }}">Newsletter</a></li>
            <li><a href="{{ download }}">{{ text_download }}</a></li>
            <li><a href="{{ logout }}">{{ text_logout }}</a></li>
            
            {% endif %}
          </ul>
        </li>
        
      </ul></div>
      {% else %}

           <a href="{{ register }}" >{{ text_register }} </a><a class="js-toggle-cart" href="#" >{{ text_login }}</a>
      {% endif %}
         </div>
            
           
            {{ cart }}
          </div>
        </div>


<aside class="cart js-cart">
  <div class="cart__header section-padding">
  <div class="alert alert-danger display-hide" style="display: none;">
                <button class="close" data-close="alert"></button>
                <span> Enter your email and password. </span>
            </div>
    <p class="cart__text hidden">
      <a class="button button--light js-toggle-cart" href="#" title="Close cart">
        x
      </a>
    </p>
  </div>
  <div class="cart__products js-cart-products">
      <h1 class="text-center"><span class="custom-bg-img">LOGIN</span></h1>
    <div class="form-horizontal login-form" style="padding-bottom: 20px;">
      <div class="form-group" style="width: 85%;margin-left: 4.5% !important;">
        <label class="control-label" style="margin-left: 5%;">Email Address</label>
        <div class="col-sm-12">
          <input type="text" id="login_email" name="email" value="" placeholder="example@gmail.com" class="form-control">
        </div>
      </div>

      <div class="form-group" style="width: 85%;margin-left: 4.5% !important;">
        <label class="control-label" style="margin-left: 5%;">Password</label>
        <div class="col-sm-12">
          <input id="password-field" type="password" placeholder="*********" class="form-control" name="password" value="">
             <i id="pass-status" class="fa fa-eye" aria-hidden="true" onClick="viewPassword()"></i>
        </div>
      </div>
       <input type="hidden" name="ajax" value="true"/>
       <div class="form-group " style="    width: 80%;
    margin-left: 8% !important;
    padding-top: 23px;">
      <button style="width: 60%" id="loginBtn" type="button" class="btn-style-2">LOGIN</button>
      <div class="">
      <a style="color: #000 !important;" href="index.php?route=account/forgotten">Forgot password?</a>
    </div>
    <div class="section-padding" >
      <p style="font-size: 11px;">By being a member of this system, you agree to the <a style="color: #000 !important; text-decoration: underline;" href="index.php?route=information/information&information_id=3">Privacy Policy</a> and <a style="color: #000 !important; text-decoration: underline;" href="index.php?route=information/information&information_id=5">Terms & Conditions</a></p>
    </div>
    </div>
    </div>
  </div>
  <div class="cart__footer">
    <p class="cart__text">
      <a class="button" href="#" title="Buy products">
        Buy products
      </a>
    </p>
  </div>
</aside>

<div class="lightbox js-lightbox js-toggle-cart"></div>


      </div>
    </div>
  </div>
  <!-- END LOGO AREA --> 
 {{ menu }}
</header>
<!-- END HEADER -->



<nav class="hidden" id="top">
  <div class="container">{{ currency }}
    {{ language }}
    <div id="top-links" class="nav pull-right">
      <ul class="list-inline">
        <li><a href="{{ contact }}"><i class="fa fa-phone"></i></a> <span class="hidden-xs hidden-sm hidden-md">{{ telephone }}</span></li>
        <li class="dropdown"><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_account }}</span> <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right">
            {% if logged %}
            <li><a href="{{ account }}">{{ text_account }}</a></li>
            <li><a href="{{ order }}">{{ text_order }}</a></li>
            <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
            <li><a href="{{ download }}">{{ text_download }}</a></li>
            <li><a href="{{ logout }}">{{ text_logout }}</a></li>
            {% else %}
            <li><a href="{{ register }}">{{ text_register }}</a></li>
            <li><a href="{{ login }}">{{ text_login }}</a></li>
            {% endif %}
          </ul>
        </li>
        <li><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"><i class="fa fa-heart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_wishlist }}</span></a></li>
        <li><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_shopping_cart }}</span></a></li>
        <li><a href="{{ checkout }}" title="{{ text_checkout }}"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_checkout }}</span></a></li>
      </ul>
    </div>
  </div>
</nav>
<header class="hidden">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div id="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% else %}
          <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}</div>
      </div>
      <div class="col-sm-5">{{ search }}</div>
      <div class="col-sm-3">{{ cart }}</div>
    </div>
  </div>

</header>

<style type="text/css">
 .btn-default{
  background: #0e0e0f !important;
    border: 2px solid #0e0e0f !important;
    color: #fff;
    font-family: montserrat, sans-serif;
    font-size: 13px !important;
    text-transform: uppercase;
   
    border-radius: 0;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
 }
</style>
<script type="text/javascript">
  
  var cartOpen = false;
var numberOfProducts = 0;

$('body').on('click', '.js-toggle-cart', toggleCart);
//$('body').on('click', '.js-add-product', addProduct);
//$('body').on('click', '.js-remove-product', removeProduct);

function toggleCart(e) {
  e.preventDefault();
  if(cartOpen) {
    closeCart();
    return;
  }
  openCart();
}

function openCart() {
  cartOpen = true;
  $('.js-toggle-cart').css('color','#000');
  $('body').css('overflow-y','hidden');
  $('body').addClass('open');
   $("html, body").animate({ scrollTop: 0 }, "slow");
}

function closeCart() {
  cartOpen = false;
  $('body').css('overflow-y','scroll');
  $('.js-toggle-cart').css('color','#92949b');

  $('body').removeClass('open');
}

function viewPassword()
{
  var passwordInput = document.getElementById('password-field');
  var passStatus = document.getElementById('pass-status');
 
  if (passwordInput.type == 'password'){
    passwordInput.type='text';
    passStatus.className='fa fa-eye-slash';
    
  }
  else{
    passwordInput.type='password';
    passStatus.className='fa fa-eye';
  }
}

</script>


<script type="text/javascript">
 

     

        $('.login-form input').keypress(function(e) {
            if (e.which == 13) {
                event.preventDefault();
                submitLogin();
            }
        });
        $("#loginBtn").on('click', function(){
            submitLogin();
        });
        var submitLogin = function(){
           
                $.ajax({
                    url: '{{ action }}',
                    data: $('.login-form input[name=email],.login-form input[name=password],.login-form input[name=ajax]'),
                    type: 'post',
                    dataType: 'json',
                    cache: false,
                    success: function(data){
                      console.log(data.warning);
                     // alert(data);
                        var response = data;
                        if(response.redirect != undefined){
                            location.href = response.redirect;
                        }else{
                            $('.alert-danger span').html(data.warning);
                            $('.alert-danger').show();
                            setTimeout(function(){
                               $('.alert-danger').hide();// or fade, css display however you'd like.
                            }, 3000);
                        }
                    }
                });
    //                    $('.login-form').submit(); //form validation success, call ajax form submit
            
        }
    
    </script>