{% if categories %}
<div class="container hidden">
  <nav id="menu" class="navbar">
    <div class="navbar-header"><span id="category" class="visible-xs">{{ text_category }}</span>
      <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        {% set count=0 %}
             {% for category in categories %}
             {% set count=count+1 %}
        {% if category.children %}
        <li class="dropdown "><a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
          <div class="dropdown-menu">
            <div class="dropdown-inner"> {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
              <ul class="list-unstyled">
                {% for child in children %}
                <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                {% endfor %}
              </ul>
              {% endfor %}</div>
            <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> </div>
        </li>
        {% else %}
        <li {% if count==1 %} class="active" {% endif %}><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>

 
  <!-- START NAVIGATION AREA -->
  <div class="sticky-menu">
    <div class="mainmenu-area hidden-xs">
      <div class="container">
        <div class="navbar navbar-default">
          <nav>
            <ul class="nav navbar-nav navbar-left">
            {% set count=0 %}
             {% for category in categories %}
             {% set count=count+1 %}
              {% if category.children %}
              <li class="dropdown "><a href="{{ category.href }}" >{{ category.name }}</a> 
              {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                <ul class="dropdown-menu">
                  {% for child in children %}
                <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                {% endfor %}
                </ul>
                 {% endfor %}
              </li>
             {% else %}
        <li {% if count==1 %} class="active" {% endif %}><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
        {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
      <!--- END CONTAINER --> 
    </div>
    <!-- END NAVIGATION AREA --> 
    
    <!-- MOBILE-MENU-AREA START -->
    <div class="mobile-menu-area hidden-lg hidden-md hidden-sm">
      <div class="col-md-7">
        <div class="mobile-menu">
          <nav id="dropdown">
            <ul>
            {% for category in categories %}
              {% if category.children %}
              <li class="dropdown active"><a href="{{ category.href }}" >{{ category.name }}</a> 
              {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                <ul class="dropdown-menu">
                  {% for child in children %}
                <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                {% endfor %}
                </ul>
                 {% endfor %}
              </li>
             {% else %}
        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
        {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- MOBILE-MENU-AREA END --> 
{% endif %} 