{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right"><a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-eszfaq').submit() : false;"><i class="fa fa-trash-o"></i></button>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        {% if success %}
        <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-eszfaq">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                                <td class="text-left">{% if sort == 'fd.question' %}
                                    <a href="{{ sort_question }}" class="{{ order|lower }}">{{ column_question }}</a>
                                    {% else %}
                                    <a href="{{ sort_question }}">{{ column_question }}</a>
                                    {% endif %}</td>
                                <td class="text-left">{% if sort == 'f.status' %}
                                    <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a>
                                    {% else %}
                                    <a href="{{ sort_status }}">{{ column_status }}</a>
                                    {% endif %}</td>
                                <td class="text-right">{% if sort == 'a.sort_order' %}
                                    <a href="{{ sort_order }}" class="{{ order|lower }}">{{ column_sort_order }}</a>
                                    {% else %}
                                    <a href="{{ sort_order }}">{{ column_sort_order }}</a>
                                    {% endif %}</td>
                                <td class="text-right">{{ column_action }}</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% if eszfaqs %}
                            {% for eszfaq in eszfaqs  %}
                            <tr>
                                <td class="text-center">{% if eszfaq.eszfaq_id in selected %}
                                    <input type="checkbox" name="selected[]" value="{{ eszfaq.eszfaq_id }}" checked="checked" />
                                    {% else %}
                                    <input type="checkbox" name="selected[]" value="{{ eszfaq.eszfaq_id }}" />
                                    {% endif %}</td>
                                <td class="text-left">{{ eszfaq.question }}</td>
                                <td class="text-left">{{ eszfaq.status }}</td>
                                <td class="text-right">{{ eszfaq.sort_order }}</td>
                                <td class="text-right"><a href="{{ eszfaq.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td class="text-center" colspan="5">{{ text_no_results }}</td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </form>
                <div class="row">
                    <div class="col-sm-6 text-left">{{ pagination }}</div>
                    <div class="col-sm-6 text-right">{{ results }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ footer }}
