{{ header }}{{ column_left }}

<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script> 
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script> 
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="module_footwarepage_status" id="input-status" class="form-control">
                {% if module_footwarepage_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_title }}</label>
            <div class="col-sm-10">
              <input type="text" name="module_footwarepage_title" class="form-control" value="{{ module_footwarepage_title }}" placeholder="{{ entry_title }}" />
            </div>
            </div>
            <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-description">{{ entry_description }}</label>
                    <div class="col-sm-10">
                      <textarea name="module_footwarepage_description" placeholder="{{ entry_description }}" id="input-description" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ module_footwarepage_description }}</textarea>
                    </div>
                  </div>
<div class="form-group">
                    <label class="col-sm-2 control-label" for="input-description">{{ entry_image }}</label>
                    <div class="col-sm-10">
                       <a href="" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="{{ thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                        <input type="hidden" name="module_footwarepage_image" value="{{ module_footwarepage_image }}" id="input-image" />
                    </div>
                  </div>



            <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_title }}</label>
            <div class="col-sm-10">
              <input type="text" name="module_footwarepage_title_1" class="form-control" value="{{ module_footwarepage_title_1 }}" placeholder="{{ entry_title }}" />
            </div>
            </div>
            <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-description">{{ entry_description }}</label>
                    <div class="col-sm-10">
                      <textarea name="module_footwarepage_description_1" placeholder="{{ entry_description }}" id="input-description" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ module_footwarepage_description_1 }}</textarea>
                    </div>
                  </div>
<div class="form-group">
                    <label class="col-sm-2 control-label" for="input-description">{{ entry_image }}</label>
                    <div class="col-sm-10">
                       <a href="" id="thumb-image1" data-toggle="image" class="img-thumbnail"><img src="{{ thumb_1 }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                        <input type="hidden" name="module_footwarepage_image_1" value="{{ module_footwarepage_image_1 }}" id="input-image1" />
                    </div>
                  </div>


                    <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_title }}</label>
            <div class="col-sm-10">
              <input type="text" name="module_footwarepage_title_2" class="form-control" value="{{ module_footwarepage_title_2 }}" placeholder="{{ entry_title }}" />
            </div>
            </div>
            <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-description">{{ entry_description }}</label>
                    <div class="col-sm-10">
                      <textarea name="module_footwarepage_description_2" placeholder="{{ entry_description }}" id="input-description" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ module_footwarepage_description_2 }}</textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-description">{{ entry_image }}</label>
                    <div class="col-sm-10">
                       <a href="" id="thumb-image2" data-toggle="image" class="img-thumbnail"><img src="{{ thumb_2 }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                        <input type="hidden" name="module_footwarepage_image_2" value="{{ module_footwarepage_image_2 }}" id="input-image2" />
                    </div>
                  </div>


          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-product"><span data-toggle="tooltip" title="Multiple products/Artilcles">{{ entry_product }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="product_name" value="" placeholder="{{ entry_product }}" id="input-product" class="form-control" />
              <div id="featured-product" class="well well-sm" style="height: 150px; overflow: auto;">
                {% for product in products %}
                <div id="featured-product{{ product.product_id }}"><i class="fa fa-minus-circle"></i> {{ product.name }}
                  <input type="hidden" name="module_footwarepage_products[]" value="{{ product.product_id }}" />
                </div>
                {% endfor %}
              </div>
            </div>
          </div>



        </form>
      </div>
    </div>
  </div>
</div>
<script>
$('input[name=\'product_name\']').autocomplete({
  source: function(request, response) {
    $.ajax({
      url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['name'],
            value: item['product_id']
          }
        }));
      }
    });
  },
  select: function(item) {
    $('input[name=\'product_name\']').val('');
    
    $('#featured-product' + item['value']).remove();
    
    $('#featured-product').append('<div id="featured-product' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="module_footwarepage_products[]" value="' + item['value'] + '" /></div>');  
  }
});
  
$('#featured-product').delegate('.fa-minus-circle', 'click', function() {
  $(this).parent().remove();
});
//--></script>
{{ footer }}