{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
       
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Telephone</th>
              <th>Measurements</th>
             
            </tr>
            </thead>
            <tbody>
            {% for order in custom_design_orders %}
              <tr>
                <td>{{ order.custom_design_id }}</td>
                <td>{{ order.designer_name }}</td>
                <td>{{ order.email }}</td>
                <td>{{ order.telephone }}</td>
                <td><a onclick="getPopup('{{ order.custom_design_id }}');" class="btn btn-info" href="javascript:void(0);"><i class="fa fa-eye"></i> View Measurments</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<button style="display:none;" id="trigger" data-toggle="modal" data-target="#measurment" >click me</button>
<!-- Modal -->
<div class="modal fade" id="measurment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
  
      <div class="modal-body">
      <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Fabric</th>
            <th>Neckline Measurement</th>
            <th>Bust Line</th>
            <th>Waist Line</th>
            <th>Hip Line</th>
            <th>Sleeve Length</th>
            <th>Cuff Size</th>
            <th>Shoulder Line</th>
            <th>Arm Hole</th>
            <th>Bottom Width</th>
            <th>Arm Circumference</th>
            <th>Caftan Length</th>
            <th>Neck Deep</th>
            <th>Sample Image</th>
          </tr>
        </thead>
        <tbody id="measurments"></tbody>
         <table>
      </div>
      </div>
      
    </div>
  </div>
  
</div> 
</div>
<script>
function getPopup(id){
$("#trigger").click();
 $("#measurments").html("Loading Please wait!");
  $.ajax({
    type:"GET",
    url:"index.php?route=extension/module/match_me_with_designer/getMeasurementValues&user_token={{ user_token }}&custom_design_id="+id,
    cache:false,
    success:function(data){
    
      $("#measurments").html(data);
      
    }
  });
  
}
</script>
{{ footer }}